.wrapper
    
    height: 100vh
    width: 100vw
    // display: flex
    // padding: 70px 300px
    align-items: center
    align-content: center
    justify-content: center
    padding-top: 70px
    display: grid
    grid-template-columns: repeat(auto-fit, 200px)
    grid-auto-rows: 200px

    &::after
        content: ""
        width: 100%
        height: 100%
        position: fixed
        background: url("https://images.unsplash.com/photo-1488998527040-85054a85150e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
        background-size: cover
        background-repeat: no-repeat
        background-position: center 0
        background-attachment: fixed
        filter: brightness(80%)
        z-index: -1

    .box
        width: 170px
        height: 170px
        margin: 20px
        transition: transform .2s ease-in-out
        
        .account
            text-align: center
            &::first-letter
                text-transform: capitalize

        .card-body
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

            img
                width: 70%
                height: auto
            
            span
                margin-top: 10px
                color: gray
                letter-spacing: .1rem
        &:hover
            cursor: pointer
            transform: scale(1.1, 1.1)

    