<div class="wrapper">
    <mdb-card *ngFor="let account of accounts" routerLink="/registration/{{account.AccountName}}" class="box">
            <mdb-card-body>
                <!-- <mdb-icon fas icon="user-md"></mdb-icon> -->
                <img src={{account.IconURL}} alt="">
                <span class="account">{{account.AccountName}}</span>
                
            </mdb-card-body>
    </mdb-card>


</div>
<!-- routerLink="/registration/{{account.AccountName}}" -->