.wrapper
    .bar
        display: flex
        justify-content: space-evenly
        margin-bottom: 10px

        .bar__item
            width: 230px
            margin: 0 5px

    .row
        padding: 20px 10px
    
    .users
        margin-bottom: 10px