<div class="wrapper">
    <!-- <div class="btn-group bar" role="group" aria-label="Basic example">
        <button (click)="showComponent(1)" mdbBtn type="button" color="primary" class="waves-light bar__item"
            mdbWavesEffect>
            <mdb-icon fas icon="dumbbell"></mdb-icon> Treningi
        </button>
        <button (click)="showComponent(2)" mdbBtn type="button" color="primary" class="waves-light bar__item"
            mdbWavesEffect>
            <mdb-icon fas icon="utensils"></mdb-icon> Diety
        </button>

    </div>

    <app-workouts *ngIf="workouts"></app-workouts>
    <app-diets *ngIf="diets"></app-diets> -->

    <div class="row">
        <div class="col-md-4 users" *ngFor="let user of users">
            <!--Card-->

            <mdb-card cascade="true" wider="true">
                <!--Card image-->
                <div routerLink="/user/dashboard/users/{{user.Id}}" class="view view-cascade overlay waves-light profile" mdbWavesEffect>
                    <mdb-card-img *ngIf="user.ImageId == null"
                        src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257_960_720.png">
                    </mdb-card-img>
                    <mdb-card-img *ngIf="user.ImageId != null" src={{user.Image.Path}}>
                    </mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                        <strong>{{user.Name}} {{user.LastName}}</strong>
                    </h4>
                    <h5 class="indigo-text accountType">
                        <strong>{{user.AccountType}}</strong>
                    </h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
                        totam rem
                        aperiam.

                    </mdb-card-text>
                    <!-- {{avgUserRate(user.RateUsers)}} -->
                    <!-- <p-rating [(ngModel)]="rateUser" readonly="true" [cancel]="false"></p-rating> -->
                    <!-- <p-rating [disabled]="!logged()  || !canRateUser(user)" (onRate)="addUserRate($event.value, user)"
                        [(ngModel)]="rateUser" [cancel]="false"></p-rating> -->
                    <p>
                        <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{user.City}} {{user.Country}}
                    </p>
                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <mdb-icon fab icon="twitter"> </mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <mdb-icon fab icon="facebook-f"> </mdb-icon>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->
                
            </mdb-card>
            <!--/.Card-->
        </div>
    </div>
</div>