.wrapper
    padding: 0 10px
    .form
        padding: 30px
        margin-top: 50px
        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            display: flex
            font-size: .7rem
            color: red
        select
            font-family: Roboto, "Helvetica Neue", sans-serif
            width: 100%
            height: 40px
            border: none
            border-bottom: 1px solid #ced4da
            background: transparent
            outline: none
            color: #757575
            font-size: 1rem
            font-weight: 100
            padding-left: 0

            &:invalid
                color: gray

            option
                font-size: 1.2rem
                color: #757575
                background-color: white
                padding: 10px
    .bar
        margin-top: 50px
    .tablePlan
        margin-top: 50px
    .inside
        img
            height: 100px
            width: auto

.card
    padding: 2rem
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
    border-radius: 4px
    margin-bottom: 2rem

.p-dropdown
    width: 14rem
    font-weight: normal

.product-description
    margin: 0 0 1rem 0

.product-category-icon
    vertical-align: middle
    margin-right: .5rem

.product-category
    font-weight: 600
    vertical-align: middle

.product-grid-item
    margin: .5em
    border: 1px solid #dee2e6
    

    .product-grid-item-top,
    .product-grid-item-bottom
        display: flex
        align-items: center
        justify-content: space-between

    img
        width: 75%
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        margin: 2rem 0

    .product-grid-item-content
        text-align: center

    .product-price
        font-size: 1.5rem
        font-weight: 600

.product-list-item
    display: flex
    align-items: center
    padding: 1rem
    width: 100%

    img
        width: 150px
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        margin-right: 2rem

    .product-list-detail
        flex: 1 1 0

    .p-rating
        margin: 0 0 .5rem 0

    .product-price
        font-size: 1.5rem
        font-weight: 600
        margin-bottom: .5rem
        align-self: flex-end

    .product-list-action
        display: flex
        flex-direction: column

    .p-button
        margin-bottom: .5rem
