<div class="wrapper">
    <div class="text-center">
        <div class="btn-group bar" role="group" aria-label="Basic example">
            <button (click)="showAddForm(1)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                mdbWavesEffect>Dodaj plan treningowy</button>
            <button (click)="showAddForm(2)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                mdbWavesEffect>Dodaj trening do planu</button>
            <button (click)="showAddForm(3)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                mdbWavesEffect>Dodaj ćwiczenie do treningu</button>
        </div>

        <form *ngIf="addTrainingPlanForm" [formGroup]="form">
            <mdb-card class="form">
                <div class="md-form input-group mb-3">
                    <select required class="form-control" id="time" name="time" [formControl]="time">
                        <option disabled value="">Czas</option>
                        <option value="Dzień">Na dzień</option>
                        <option value="Tydzień">Na tydzień</option>
                        <option value="Miesiąc">Na miesiąc</option>
                    </select>
                    <span class="error" *ngIf="time.touched && !time.valid">Wybierz czas</span>
                </div>
                <div class="md-form mb-3">
                    <!-- <div *ngIf="!this.edit" class="md-form mb-3"> -->
                    <button [disabled]="!form.valid" (click)="addTrainingPlan()" type="submit" mdbBtn color="primary"
                        mdbWavesEffect>Dodaj</button>
                </div>
                <div class="md-form mb-3">
                    <!-- <div *ngIf="this.edit" class="md-form mb-3"> -->
                    <!-- <button  type="submit" mdbBtn color="primary" mdbWavesEffect>Edytuj</button> -->
                </div>

            </mdb-card>
        </form>

        <form *ngIf="addTrainingForm" [formGroup]="form2">
            <mdb-card class="form">
                <div class="md-form input-group mb-3">
                    <select required class="form-control" id="treningplan" name="treningplan"
                        [formControl]="trainingplan">
                        <option [ngValue]="null" selected disabled value="">Plan treningu</option>
                        <option *ngFor="let plan of trainingPlans" [value]="plan.Id">{{plan.Time}}</option>
                    </select>
                    <span class="error" *ngIf="trainingplan.touched && !trainingplan.valid">Wybierz plan treningiu,
                        który utworzyłeś
                        wcześniej</span>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="trainingname" name="trainingname" type="text"
                        [formControl]="trainingname" class="form-control">
                    <label class="">Nazwa treningu</label>
                    <div class="error" *ngIf="trainingname.touched && !trainingname.valid">
                        <span *ngIf="trainingname.errors.required">Podaj nazwe treningu</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="calorific" name="calorific" type="number" [formControl]="calorific"
                        class="form-control" min="0">
                    <label class="">Spalone kalorie np. 1500 kcal</label>
                    <div class="error" *ngIf="calorific.touched && !calorific.valid">
                        <span *ngIf="calorific.errors.required">Podaj spalone kalorie</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="duration" name="duration" type="number" [formControl]="duration"
                        class="form-control" min="0">
                    <label class="">Całkowity czas trwania treningiu</label>
                    <div class="error" *ngIf="duration.touched && !duration.valid">
                        <span *ngIf="duration.errors.required">Podaj całkowity czas trwania treningiu</span>
                    </div>
                </div>

                <div class="md-form mb-3">
                    <div *ngIf="!this.editTraining" class="md-form mb-3">
                        <button [disabled]="!form2.valid" (click)="addTraining()" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Dodaj</button>
                        <button (click)="showAddForm(0)" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Zamknij</button>
                    </div>
                </div>
                <div class="md-form mb-3">
                    <div *ngIf="this.editTraining" class="md-form mb-3">
                        <button [disabled]="!form2.valid" (click)="updateTraining()" type="submit" mdbBtn
                            color="primary" mdbWavesEffect>Edytuj</button>
                        <button (click)="showAddForm(0)" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Zamknij</button>
                    </div>
                </div>

            </mdb-card>
        </form>
        <form *ngIf="addExerciseForm" [formGroup]="form3">
            <mdb-card class="form">
                <div class="md-form input-group mb-3">
                    <select required class="form-control" id="training" name="training" [formControl]="training">
                        <option [ngValue]="null" selected disabled value="">Trening</option>
                        <option *ngFor="let training of trainings" [value]="training.Id">{{training.TrainingName}}
                        </option>
                    </select>
                    <span class="error" *ngIf="training.touched && !training.valid">Wybierz trening, który utworzyłeś
                        wcześniej</span>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="exercisename" name="exercisename" type="text"
                        [formControl]="exercisename" class="form-control">
                    <label class="">Nazwa ćwiczenia</label>
                    <div class="error" *ngIf="exercisename.touched && !exercisename.valid">
                        <span *ngIf="exercisename.errors.required">Podaj nazwe ćwiczenia</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="durationEx" name="durationEx" type="number" [formControl]="durationEx"
                        class="form-control" step="1" min="0">
                    <label class="">Czas trwania ćwiczenia np. 2 min</label>
                    <div class="error" *ngIf="durationEx.touched && !durationEx.valid">
                        <span *ngIf="durationEx.errors.required">Podaj czas trwania ćwiczenia w minutach</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="repeat" name="repeat" type="number" [formControl]="repeat"
                        class="form-control" step="1" min="0">
                    <label class="">Ilość powtórzeń</label>
                    <div class="error" *ngIf="repeat.touched && !repeat.valid">
                        <span *ngIf="repeat.errors.required">Podaj liczbę powtórzeń</span>
                    </div>
                </div>
                <div *ngIf="!editExercise" class="md-form input-group mb-3">
                    <input required mdbInput id="imageId" name="imageId" [formControl]="imageId" type="file"
                        (change)="onFileChange($event)" class="form-control file">
                    <div class="error" *ngIf="imageId.touched && !imageId.valid">
                        <span *ngIf="imageId.errors.required">Wybierz gif lub film przedstawiający ćwiczenie</span>
                    </div>
                    <span class="error" *ngIf="imageId.touched && imageId.valid && !fileTypeCheck">Wybrany plik
                        posiada
                        nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span>
                </div>

                <div class="md-form mb-3">
                    <div *ngIf="!this.editExercise" class="md-form mb-3">
                        <button [disabled]="!form3.valid || !fileTypeCheck" (click)="addExercise()" type="submit" mdbBtn
                            color="primary" mdbWavesEffect>Dodaj</button>
                    </div>
                </div>
                <div class="md-form mb-3">
                    <div *ngIf="this.editExercise" class="md-form mb-3">
                        <button [disabled]="!form3.valid" (click)="updateExercise()" type="submit" mdbBtn
                            color="primary" mdbWavesEffect>Edytuj</button>
                    </div>
                </div>

            </mdb-card>
        </form>
    </div>
    <h2 class="h3 py-5 text-center">Twoje treningi</h2>
    <div class="tablePlan" *ngFor="let plan of trainingPlans; index as x">
        <!-- <table mdbTable class="main">
            <thead class="black white-text">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Czas</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol>
                    <th scope="row">{{x+1}}</th>
                    <td>{{plan.Time}}</td>
                </tr>
            </tbody>
        </table> -->

        <h4>Trening na {{plan.Time}}</h4>

        <div class="table" *ngFor="let training of plan.Trainings; index as i">
            <table mdbTable class="outside">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Kaloryczność</th>
                        <th scope="col">Całkowity czas</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol>
                        <th scope="row">{{i+1}}</th>
                        <td>{{training.TrainingName}}</td>
                        <td>{{training.Calorific}} kcal</td>
                        <td>{{training.Duration}} min</td>
                        <td><button (click)="showEditTrainingForm(training)" mdbBtn color="warning" size="sm"
                                mdbWavesEffect>Edytuj</button></td>
                    </tr>
                </tbody>
            </table>

            <table mdbTable class="inside">
                <thead class="grey lighten-1 black-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Czas trwania</th>
                        <th scope="col">Ilość powtórzeń</th>
                        <th scope="col">Film/gif</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let exercise of training.TrainingExercises; index as j">
                        <th scope="row">{{j+1}}</th>
                        <td>{{exercise.ExerciseName}}</td>
                        <td>{{exercise.Duration}} min</td>
                        <td>{{exercise.Reapeat}}</td>
                        <td><img src={{exercise.Image.Path}} /></td>
                        <td><button (click)="showEditExerciseForm(exercise)" mdbBtn color="warning" size="sm"
                                mdbWavesEffect>Edytuj</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="small-hr my-4">
    </div>
</div>


<!-- <div class="card">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="3" filterBy="name" layout="grid">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <img [src]="'https://medycznewiadomosci.pl/wp-content/uploads/2020/05/cardio.jpg'"
                            [alt]="product.name" />
                    <div class="product-list-detail">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
                    </div>
                    <div class="product-list-action">
                        <p-button icon="pi pi-search" label="Zobacz więcej" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category}}</span>
                        </div>
                        <span
                            [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="'https://medycznewiadomosci.pl/wp-content/uploads/2020/05/cardio.jpg'"
                            [alt]="product.name" />
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <p-button icon="pi pi-search" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'">
                        </p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div> -->