<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">O nas</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Sklep</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/help">Pomoc</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Kontakt</a>
        </h6>
      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">
          Naszą misją jest stworzenie porządnego produktu, który zaspokoi oczekiwania każdego klienta. Stawiamy na ciągły rozwój, dzięki temu oprogramowanie zawsze działa sprawnie i szybko. Jeśli masz pytania, chętnie na nie odpowiemy. Napisz do nas przez formularz kontaktowy, który znajdziesz na stronie.
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic icon">
            <mdb-icon fab icon="facebook" size="lg" class="white-text "></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic icon">
            <mdb-icon fab icon="twitter" size="lg" class="white-text "></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic icon">
            <mdb-icon fab icon="linkedin" size="lg" class="white-text "></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic icon">
            <mdb-icon fab icon="instagram" size="lg" class="white-text "></mdb-icon>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a target="_blank" href="https://www.cekovicweb.pl/"> CekovicWeb Sp. Z O.O.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
