.wrapper
    padding: 100px 150px
    background-color: #f7feff
    // margin-top: 100px
    .product-item
        .product-item-content
            border: 1px solid var(--surface-d)
            border-radius: 3px
            margin: .3rem
            text-align: center
            padding: 2rem 0
        .product-image
            width: 50%
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        // .image
        //     max-height: 300px

    .button
        margin: 0 10px
    .head
        margin-top: 10px
    h3
        text-align: center

    .accountType
        &::first-letter
            text-transform: uppercase
    .avg
        display: none

@media(max-width: 900px)
    .wrapper
        padding: 0 10px

        // .image
        //     max-width: 50vw