<div class="wrapper">
    <p-carousel
        [value]="getArticle ? articles : users"
        styleClass="custom-carousel"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="false"
        [autoplayInterval]="5000"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h2 *ngIf="getArticle"
                class="h1 py-5 text-center">
                Najnowsze artykuły</h2>
            <h2 *ngIf="getUser"
                class="h1 py-5 text-center">
                Najlepsi użytkownicy
            </h2>
        </ng-template>
        <ng-template *ngIf="getArticle"
            let-article
            pTemplate="item">
            <div class="product-item">
                <div
                    class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <!-- <p-header>
                        <img alt="Card" class="image" src={{article.Image.Path}}>
                    </p-header> -->
                    <div class="p-mb-3">
                        <img src={{article.Image.Path}}
                            [alt]="article.Title"
                            class="product-image" />
                    </div>
                    <div>
                        <h4
                            class="p-mb-1 head">
                            {{article.Title}}
                        </h4>
                        <!-- <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6> -->
                        <p>
                            {{article.ShortDesc}}
                        </p>
                        <div
                            class="car-buttons p-mt-5">
                            <p-button
                                routerLink="/article/{{article.Id}}"
                                type="button"
                                class="button"
                                styleClass="p-button p-button-rounded p-mr-2"
                                icon="pi pi-search">
                            </p-button>
                            <p-button
                                type="button"
                                class="button"
                                styleClass="p-button-success p-button-rounded p-mr-2"
                                icon="pi pi-star">
                            </p-button>
                            <p-button
                                type="button"
                                class="button"
                                styleClass="p-button-help p-button-rounded"
                                icon="pi pi-cog">
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template *ngIf="getUser"
            let-user
            pTemplate="item">
            <div class="product-item">
                <div
                    class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <div class="p-mb-3">
                        <img *ngIf="user.ImageId !== null"
                            src={{user.Image.Path}}
                            [alt]="user.LastName"
                            class="product-image" />
                        <img *ngIf="user.ImageId === null"
                            src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257_960_720.png"
                            [alt]="user.LastName"
                            class="product-image" />
                    </div>
                    <div>
                        <h4
                            class="p-mb-1 head">
                            {{user.Name}}
                            {{user.LastName}}
                        </h4>
                        <p
                            class="accountType">
                            {{user.AccountType}}
                        </p>
                        <div
                            class="car-buttons p-mt-5">
                            <span class="avg">{{avgUserRate(user.RateUsers)}}</span>
                            
                            Ocena
                            użytkownika:
                            <p-rating
                                [(ngModel)]="rateUser"
                                readonly="true"
                                disabled="true"
                                [cancel]="false">
                            </p-rating>

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <!-- <p-carousel [value]="articles" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions"></p-carousel> -->
</div>