<div *ngIf="item" class="wrapper">
    <!-- Jumbotron -->
<div class="jumbotron text-center">

    <!-- Title -->
    <!-- Subtitle -->
    <p class="blue-text my-4 font-weight-bold">{{title}}</p>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
  
        <p class="card-text">{{content}}</p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-4">

  </div>
  <!-- Jumbotron -->
</div>