<div class="wrapper">
    <h2 class="h3 py-5 text-center">Twoje treningi</h2>
    <div class="tablePlan" *ngFor="let plan of trainingPlans; index as x">
        <h4>Trening na {{plan.Time}}</h4>
        <div class="table" *ngFor="let training of plan.Trainings; index as i">
            <table mdbTable class="outside">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Kaloryczność</th>
                        <th scope="col">Całkowity czas</th>

                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol>
                        <th scope="row">{{i+1}}</th>
                        <td>{{training.TrainingName}}</td>
                        <td>{{training.Calorific}} kcal</td>
                        <td>{{training.Duration}} min</td>

                    </tr>
                </tbody>
            </table>

            <table mdbTable class="inside">
                <thead class="grey lighten-1 black-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Czas trwania</th>
                        <th scope="col">Ilość powtórzeń</th>
                        <th scope="col">Film/gif</th>

                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let exercise of training.TrainingExercises; index as j">
                        <th scope="row">{{j+1}}</th>
                        <td>{{exercise.ExerciseName}}</td>
                        <td>{{exercise.Duration}} min</td>
                        <td>{{exercise.Reapeat}}</td>
                        <td><img src={{exercise.Image.Path}} /></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="small-hr my-4">
    </div>
</div>