<!--Section: Features v.3-->
<section class="wrapper" id="about">

  <!--Section heading-->
  <h2 class="h1 py-5 text-center">Dlaczego my?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">Jesteśmy sprawdzoną i rzetelną firmą, która każde zadanie traktuje indywidualnie. Nasz produkt został stworzony z myślą o najbardziej wymagających klientach.
    <br/>
    Wybierając nasz produkt zyskujesz:

  </p>

  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 text-center text-lg-left">
      <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Bezpieczeństwo</h5>
          <p class="grey-text text-left">Dane w Twoim sklepie pozostaną w pełni bezpieczne!</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Sprawdzone technologie</h5>
          <p class="grey-text text-left">Produkt został stworzony z myślą o wydajności tak, aby zapewnić sprawne działanie nawet pod dużym obciążeniem.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Pełne wsparcie</h5>
          <p class="grey-text text-left">Jeśli znalazłbyś jakiś problem na swojej drodze wystarczy kontakt z nami, a znajdziemy rozwiązanie tak szybko, jak to możliwe.
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->
