.wrapper
  padding: 50px 150px 80px 150px
  background-color: #eaeeff


  .cards
    padding: 0 100px

  ul
    list-style: none
    padding-left: 20%
    text-align: left

  .price
    height: 70px
    display: flex
    align-items: center
    justify-content: center

@media (max-width: 1024px)
  .wrapper
    padding: 20px

    .cards
      padding: 0 20px

    ul
      padding-left: 30px

