<!--Section: Pricing v.1-->
<section class="text-center wrapper">

  <!--Section heading-->
  <h2 class="h1 py-5">Nasze plany zakupowe</h2>
  <!--Section description-->
  <p class="grey-text pb-5">Dostosowaliśmy produkt na każdą kieszeń! Masz do wyboru 3 plany. Wybierz ten, który jest dla Ciebie najlepszy.</p>

  <!--Grid row-->
  <div class="row cards">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <!--Pricing card-->
      <mdb-card class="pricing-card">
        <!--Price-->
        <div class="price header blue text-white">
          <div class="version">
            <h5>Basic</h5>
          </div>
        </div>
        <!--Price-->

        <!--Features-->
        <mdb-card-body class="striped">
          <ul>
            <li>
              <p class="mt-1">
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 20 GB Of Storage</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon>  2 Email Accounts</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="times" class="red-text pr-2"></mdb-icon>  24h Tech Support</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="times" class="red-text pr-2"></mdb-icon> 300 GB Bandwidth</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="times" class="red-text pr-2"></mdb-icon> User Management </p>
            </li>
          </ul>

          <button mdbBtn color="blue" class="waves-light" mdbWavesEffect>Buy now</button>
        </mdb-card-body>
        <!--Features-->

      </mdb-card>
      <!--Pricing card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!--Pricing card-->
      <mdb-card class="pricing-card">
        <!--Price-->
        <div class="price header indigo  text-white">
          <div class="version">
            <h5>Pro</h5>
          </div>
        </div>
        <!--Price-->

        <!--Features-->
        <mdb-card-body class="striped">
          <ul>
            <li>
              <p class="mt-1">
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 20 GB Of Storage</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 4 Email Accounts</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 24h Tech Support</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="times" class="red-text pr-2"></mdb-icon> 300 GB Bandwidth</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="times" class="red-text pr-2"></mdb-icon> User Management </p>
            </li>
          </ul>

          <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Buy now</button>
        </mdb-card-body>
        <!--Features-->

      </mdb-card>
      <!--Pricing card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <!--Pricing card-->
      <mdb-card class="pricing-card">
        <!--Price-->
        <div class="price header deep-purple  text-white">
          <div class="version">
            <h5>Enterprise</h5>
          </div>
        </div>
        <!--Price-->

        <!--Features-->
        <mdb-card-body class="striped">
          <ul>
            <li>
              <p class="mt-1">
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 30 GB Of Storage</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 5 Email Accounts</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 24h Tech Support</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> 300 GB Bandwidth</p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="check" class="green-text pr-2"></mdb-icon> User Management </p>
            </li>
          </ul>

          <button mdbBtn color="deep-purple" class="waves-light" mdbWavesEffect>Buy now</button>
        </mdb-card-body>
        <!--Features-->

      </mdb-card>
      <!--Pricing card-->
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Pricing v.1-->
