.wrapper {
  padding: 50px 150px 80px 150px;
  background-color: #eaeeff;
}

.wrapper .cards {
  padding: 0 100px;
}

.wrapper ul {
  list-style: none;
  padding-left: 20%;
  text-align: left;
}

.wrapper .price {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 20px;
  }
  .wrapper .cards {
    padding: 0 20px;
  }
  .wrapper ul {
    padding-left: 30px;
  }
}
/*# sourceMappingURL=plans.component.css.map */