<div class="wrapper">
    <h2 class="h3 py-5 text-center">Twoje diety</h2>
    <div class="tablePlan" *ngFor="let plan of dietPlans; index as x">
        <h4>Dieta na {{plan.Time}}</h4>
    <div class="table" *ngFor="let diet of plan.Diets; index as i">
        <table mdbTable class="outside">
            <thead class="black white-text">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Kaloryczność</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol>
                    <th scope="row">{{i+1}}</th>
                    <td>{{diet.DietName}}</td>
                    <td>{{diet.Calorific}} kcal</td>
                </tr>
            </tbody>
        </table>

        <table mdbTable class="inside">
            <thead class="grey lighten-1 black-text">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Waga</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Cena/100g</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let product of diet.DietProducts; index as j">
                    <th scope="row">{{j+1}}</th>
                    <td>{{product.ProductName}}</td>
                    <td>{{product.Weight}}g</td>
                    <td>{{product.Price}}zł</td>
                    <td>{{product.PriceForWeight}}zł</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="small-hr my-4">
    </div>
</div>
