.wrapper
    margin-top: 100px
    padding: 0 10px
    .bar
        display: flex
        justify-content: space-evenly
        margin-bottom: 10px

        .bar__item
            width: 230px
            margin: 0 5px