<div class="wrapper">
    <div class="user" *ngIf="user">
        <div class="coach" *ngIf="loggedUser?.AccountType === 'trener'">
            <div class="btn-group bar" role="group" aria-label="Basic example" *ngIf="coachPackage">
                <button *ngIf="coachPackage.PackageName === 'Trening' || coachPackage.PackageName === 'Oba'"
                    (click)="showComponent(1)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                    mdbWavesEffect>
                    <mdb-icon fas icon="dumbbell"></mdb-icon> Treningi
                </button>
                <button *ngIf="coachPackage.PackageName === 'Dieta' || coachPackage.PackageName === 'Oba'"
                    (click)="showComponent(2)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                    mdbWavesEffect>
                    <mdb-icon fas icon="utensils"></mdb-icon> Diety
                </button>
            </div>

            <app-workouts *ngIf="workouts" [userID]="user.Id" [coachID]="user.CoachId"
                [trainingPlans]="user?.TrainingPlans"></app-workouts>
            <app-diets *ngIf="diets" [userID]="user.Id" [coachID]="user.CoachId" [dietPlans]="user?.DietPlans">
            </app-diets>
        </div>
        <div class="coach" *ngIf="loggedUser?.AccountType === 'Fizjoterapeuta'">
            <div class="btn-group bar" role="group" aria-label="Basic example">
                <button *ngIf="physioPackage?.PackageName === 'Podstawowy'"
                    (click)="showComponent(3)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                    mdbWavesEffect>
                    <mdb-icon fas icon="dumbbell"></mdb-icon> Badania
                </button>
            </div>
            <app-medicine *ngIf="medicine" [physioPackageID]="user.PhysiotherapistPackageId"></app-medicine>
            
        </div>
    </div>
</div>