.wrapper
  margin-top: 70px
  padding: 0 150px
  .card
    height: 100%
  .view
    min-height: 200px
    max-height: 200px
  button
    padding-left: 10px
    padding-right: 10px
  .link
    cursor: pointer


@media (max-width: 1200px)
  .wrapper
    padding: 0 20px

    .row
      justify-content: center
    
    .col-lg-2.col-md-4
      max-width: 80vw
