<!--Section: Products v.3-->
<section class="text-center pb-3 my-5 wrapper">

  <!--Section heading-->
  <h2 class="h1 py-5">Cały asortyment</h2>
  <!--Section description-->

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div *ngFor="let product of products | async" class="col-lg-2 col-md-4 mb-4">
      <!-- czy to jest dobrze? -->
      <!-- <div *ngFor="let product of getProduct()" class="col-lg-2 col-md-4 mb-4"> -->

      <!--Card-->
      <mdb-card class="align-items-center">
        <div class="link" routerLink="/shop/products/{{product.Id}}">
          <!--Card image-->
          <div class="view overlay waves-light" mdbWavesEffect>
            <mdb-card-img class="image" src={{product.Image.Path}} alt=""></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->

          <!--Card content-->
          <mdb-card-body class="text-center">
            <!--Category & Title-->
            <span class="grey-text">
              <h5>{{product.Category.NameCategory}}</h5>
            </span>
            <h5>
              <strong>
                <span class="dark-grey-text">{{product.Name}}
                  <mdb-badge pill="true" danger="true">NEW</mdb-badge>
                </span>
              </strong>
            </h5>

            <h4 class="font-weight-bold blue-text">
              <strong>{{priceToFloat(product.Price)}}zł</strong>
            </h4>

          </mdb-card-body>
          <!--Card content-->
        </div>
        <button (click)="addToCart(product)" mdbBtn type="button" color="primary" mdbWavesEffect>
          <mdb-icon fas icon="cart-plus" class="mr-1"></mdb-icon>Do koszyka
        </button>
      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <!--Card-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Products v.3-->