.wrapper {
  margin-top: 70px;
  padding: 0 150px;
}

.wrapper .card {
  height: 100%;
}

.wrapper .view {
  min-height: 200px;
  max-height: 200px;
}

.wrapper button {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=shop-products.component.css.map */