.wrapper
    margin-top: 50px

    form
        margin-top: 50px
        .form
            padding: 50px
            .md-form.input-group .form-control
                padding: .375rem 0

            .form-control.ng-touched.ng-invalid
                border-bottom: 2px solid red

            .form-control.ng-touched.ng-valid
                border-bottom: 2px solid #00dc00
            .input-group
                display: flex
                flex-direction: column
            .error
                display: flex
                font-size: .7rem
                color: red
            .checkbox
                flex-direction: row
                align-items: center
                color: #757575
                font-size: 1rem
                font-weight: 100
                p
                    margin: 0 5px
