<section class="wrapper" *ngIf="button5">
<div class="text-center">  
  <div class="btn-group bar" role="group" aria-label="Basic example">
    <button (click)="showAddArticleForm()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Dodaj nowy
      artykuł</button>
  </div>

  <form *ngIf="addArticleForm" ngForm #form="ngForm">
    <mdb-card class="form">
      <div class="md-form input-group mb-3">
        <input mdbInput required id="title" name="title" ngModel #title="ngModel" type="text" class="form-control">
        <label class="">Tytuł</label>
        <div class="error" *ngIf="title.touched && !title.valid">
          <span *ngIf="title.errors.required">Podaj tytuł artykułu</span>
        </div>
      </div>
      <div class="md-form input-group mb-0">
        <textarea required type="text" id="shortDesc" name="shortDesc" ngModel #shortDesc="ngModel"
          class="form-control md-textarea" rows="4" mdbInput></textarea>
        <label for="form-contact-shortDesc">Krótki opis</label>
        <div class="error" *ngIf="shortDesc.touched && !shortDesc.valid">
          <span *ngIf="shortDesc.errors.required">Podaj krótki opis artykułu</span>
        </div>
      </div>
      <div class="md-form input-group mb-0">
        <textarea required type="text" id="longDesc" name="longDesc" ngModel #longDesc="ngModel"
          class="form-control md-textarea" rows="6" mdbInput></textarea>
        <label for="form-contact-longDesc">Długi opis</label>
        <div class="error" *ngIf="longDesc.touched && !longDesc.valid">
          <span *ngIf="longDesc.errors.required">Podaj długi opis artykułu</span>
        </div>
      </div>
      <div class="md-form input-group mb-3">
        <!-- <input required mdbInput id="imageUrl" name="imageURL" ngModel #imageURL="ngModel" type="text"
          class="form-control file" placeholder="Adres URL zdjęcia">
        <div class="error" *ngIf="imageURL.touched && !imageURL.valid">
          <span *ngIf="imageURL.errors.required">Wklej adres URL zdjęcia artykułu</span>
        </div> -->

        <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="file"
          (change)="onFileChange($event)" class="form-control file">
        <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
          <span *ngIf="imageUrl.errors.required">Wybierz zdjęcie produktu</span>
        </div>
        <span class="error" *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany plik posiada
          nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span>
      </div>
      <div class="md-form input-group mb-3 checkbox">
        <input type="checkbox" (change)="getCheckboxValue($event)" id="showTime" name="showTime" ngModel
          #visible="ngModel">
        <p>Pokazuj godzinę dodania</p>
        <!-- <label for="visible">Widoczny</label> -->
      </div>
      <div class="md-form mb-3">
        <!-- <button [disabled]="!form.valid || !fileTypeCheck"
          (click)="add(productName.value, description.value, imageUrl.value, price.value, category.value, form)" type="submit" mdbBtn
          color="primary" mdbWavesEffect>Dodaj</button> -->
        <button [disabled]="!form.valid"
          (click)="addArticle(title.value, shortDesc.value, longDesc.value, form)"
          type="submit" mdbBtn color="primary" mdbWavesEffect>Dodaj</button>
      </div>

    </mdb-card>
  </form>
</div>
  <h2 class="h3 py-5 text-center">Twoje artykuły</h2>
  <div class="row">
  <div class="col-md-6 mb-4" *ngFor="let article of articles">
    <mdb-card>
      <div routerLink="/article/{{article.Id}}" class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src={{article.Image.Path}} alt="Article Image">
        </mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{article.Title}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> {{article.ShortDesc}}</mdb-card-text>

        <a routerLink="/article/{{article.Id}}" mdbBtn color="primary" mdbWavesEffect>Czytaj więcej</a>
        <a (click)="deleteArticle(article)" mdbBtn color="danger" mdbWavesEffect>Usuń</a>
        
      </mdb-card-body>
      <div class="card-footer text-muted text-center">
        {{article.Date}} <span *ngIf="article.ShowTime">{{article.Time}}</span>
      </div>
    </mdb-card>
    <!-- Card -->
  </div>
  </div>
</section>