<section class="wrapper" *ngIf="button6">
  <div class="text-center">
    <div class="btn-group bar" role="group" aria-label="Basic example">
      <button (click)="showAddServiceForm()" mdbBtn type="button" color="primary" class="waves-light bar__item"
        mdbWavesEffect>Dodaj nową usługę</button>
    </div>
    
    <form *ngIf="addServiceForm" [formGroup] = "form">
      <mdb-card class="form">
        <div class="md-form input-group mb-3">
          <input mdbInput required id="name" name="name" formControlName="name" type="text" class="form-control">
          <label class="">Nazwa</label>
          <!-- <div class="error" *ngIf="name.touched && !name.valid">
            <span *ngIf="name.errors.required">Podaj nazwe usługi</span>
          </div> -->
        </div>
        <div class="md-form input-group mb-3">
          <input mdbInput required id="price" name="price" formControlName="price" type="text" min="0"
            class="form-control" pattern="^\d+\.\d\d$"> 
          <label class="">Cena</label>
          <!-- <div class="error" *ngIf="price.touched && !price.valid">
            <span *ngIf="price.errors.required">Podaj cenę usługi</span>
            <span *ngIf="price.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki "." do oddzielenia wartości dziesiętnej</span>
          </div> -->
        </div>
        
        <div *ngIf="!this.edit" class="md-form mb-3">
         <button (click)="addService()"  type="submit" mdbBtn color="primary" mdbWavesEffect>Dodaj</button>
        </div>
        <div *ngIf="this.edit" class="md-form mb-3">
         <button (click)="updateService()" type="submit" mdbBtn color="primary" mdbWavesEffect>Edytuj</button>
        </div>

      </mdb-card>
    </form>
  </div>
  <h2 class="h3 py-5 text-center">Twoje usługi</h2>
  <div class="table-responsive">
    <table class="table">
      <thead class="black white-text">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Usługa</th>
          <th scope="col">Cena</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let service of services; index as i">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{service.ServiceName}}</td>
          <td>{{service.Price}}</td>
          <td>
            <button (click)="showEditForm(service)" mdbBtn color="warning" size="sm" mdbWavesEffect>
              Edytuj
            </button>
            <button (click)="deleteService(service)" mdbBtn color="danger" size="sm" mdbWavesEffect>
              Usuń
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>