<div class="wrapper">

    <section *ngIf="product" class="my-5">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light image" mdbWavesEffect>
                    <img class="img-fluid" src={{product.Image.Path}} alt="Sample image">

                    <div *ngIf="logged() && product.UserId == this.tokenId" (click)="showEditImageForm()">
                        <mdb-icon class="icon-gray" fas icon="edit"></mdb-icon>
                        <div class="mask rgba-white-slight edit">
                            <mdb-icon class="icon" fas icon="edit"></mdb-icon>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7 right">

                <!-- Category -->
                <a [routerLink]="['/shop/category/', product.Category.NameCategory]" class="blue-text">
                    <h6 class="font-weight-bold mb-3">
                        <mdb-icon far icon="list-alt" class="pr-2"></mdb-icon>{{product.Category.NameCategory}}
                    </h6>
                </a>
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>{{product.Name}}</strong></h3>
                <!-- Excerpt -->
                <p>{{product.Description}}</p>
                <!-- Post data -->
                <strong class="price">{{product.Price}} zł</strong>
                <!-- Read more button -->
                <button mdbBtn (click)="addToCart(product)" color="primary" mdbWavesEffect>Dodaj do koszyka</button>
                <button *ngIf="logged() && product.UserId == this.tokenId" mdbBtn (click)="showEditProductForm()"
                    color="warning" mdbWavesEffect>Edytuj produkt</button>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </section>

    <hr class="my-5">
    <form *ngIf="editImageForm" class="wrapper" ngForm #formImg="ngForm">
        <mdb-card class="form">
            <div class="md-form input-group mb-3">
            <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="file"
                    (change)="onFileChange($event)" class="form-control file">
                
                <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
                    <span *ngIf="imageUrl.errors.required">Wybierz zdjęcie produktu</span>
                </div>
                <span class="error" *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany plik posiada
                    nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span>
                </div>
                <button (click)="updateImage(product)" [disabled]="!formImg.valid || !fileTypeCheck" type="submit" mdbBtn
                    color="primary" mdbWavesEffect >Zapisz</button>
            </mdb-card>
    </form>

    <form class="wrapper" *ngIf="editProductForm" ngForm #form="ngForm">
        <mdb-card class="form">
            <div class="md-form input-group mb-3">
                <input mdbInput required id="productName" name="productName" [(ngModel)]="product.Name"
                    #productName="ngModel" type="text" class="form-control">
                <label class="">Nazwa</label>
                <div class="error" *ngIf="productName.touched && !productName.valid">
                    <span *ngIf="productName.errors.required">Podaj nazwę produktu</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <select required class="form-control" id="category" name="category" [(ngModel)]="product.CategoryId"
                    #category="ngModel">
                    <option [selected]="product.CategoryId == cat.Id" *ngFor="let cat of categorys" value={{cat.Id}}>
                        {{cat.NameCategory}}</option>

                </select>
                <span class="error" *ngIf="category.touched && !category.valid">Wybierz kategorię</span>
            </div>
            <div class="md-form input-group mb-0">
                <textarea required type="text" id="description" name="description" [(ngModel)]="product.Description"
                    #description="ngModel" class="form-control md-textarea" rows="6" mdbInput></textarea>
                <label for="form-contact-description">Opis</label>
                <div class="error" *ngIf="description.touched && !description.valid">
                    <span *ngIf="description.errors.required">Podaj opis produktu</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <!-- <input required mdbInput id="imageUrl" name="imageUrl" [(ngModel)]="product.URLPhoto" #imageUrl="ngModel" type="text"
                    class="form-control file" placeholder="Adres URL zdjęcia">
                <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
                    <span *ngIf="imageUrl.errors.required">Wklej adres URL zdjęcia produktu</span>
                </div> -->


                <!-- <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="file"
                    (change)="onFileChange($event)" class="form-control file">
                
                <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
                    <span *ngIf="imageUrl.errors.required">Wybierz zdjęcie produktu</span>
                </div>
                <span class="error" *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany plik posiada
                    nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span> -->
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required id="price" name="price" [(ngModel)]="product.Price" #price="ngModel"
                    type="text" step="0.01" min="0" class="form-control" pattern="^\d+\.\d\d$">
                <label class="">Cena</label>
                <div class="error" *ngIf="price.touched && !price.valid">
                    <span *ngIf="price.errors.required">Podaj cenę produktu</span>
                    <span *ngIf="price.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki "." do
                        oddzielenia wartości dziesiętnej</span>
                </div>
            </div>
            <div class="md-form input-group mb-3 checkbox">
                <input type="checkbox" (change)="getCheckboxValue($event)" id="visible" name="visible"
                    [(ngModel)]="product.IsMain" #visible="ngModel">
                <p>Widoczny</p>
                <!-- <label for="visible">Widoczny</label> -->
            </div>
            <div class="md-form mb-3">
                <button [disabled]="!form.valid" (click)="updateProduct()" type="submit" mdbBtn color="primary"
                    mdbWavesEffect>Zapisz</button>
                <!-- <button [disabled]="!form.valid || !fileTypeCheck" (click)="updateProduct()" type="submit" mdbBtn
                    color="primary" mdbWavesEffect>Zapisz</button> -->
            </div>

        </mdb-card>
    </form>


</div>