.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader .spinner-1:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: #2c86e2;
  -webkit-animation: spinner .7s linear infinite;
          animation: spinner .7s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=loader.component.css.map */