.loader
    width: 100vw
    height: 100vh
    background-color: white
    display: flex

    .spinner-1:before
        content: ""
        box-sizing: border-box
        width: 60px
        height: 60px
        position: absolute
        top: 50%
        left: 50%
        border-radius: 50%
        border: 3px solid lightgray
        border-top-color: #2c86e2
        animation: spinner .7s linear infinite

    @keyframes spinner
        to
            transform: rotate(360deg)