<div class="wrapper">

  <!--Grid column-->
  <!-- <div *ngFor="let us of user" class="col-md-12 col-lg-12 col-xl-3 user"> -->
  <div
    class="col-md-12 col-lg-12 col-xl-4 user"
    *ngIf="user">

    <mdb-card
      class="col-md-12 testimonial-card">
      <!--Bacground color-->


      <div
        class="card-up indigo lighten-1">
      </div>

      <!--Avatar-->
      <div class="avatar">
        <!-- <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light " mdbWavesEffect> -->
        <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" alt="Sample image"> -->

        <!-- <div>
              <mdb-icon class="icon-gray" fas icon="edit"></mdb-icon>
              <div class="mask rgba-white-slight edit">
                  <mdb-icon class="icon" fas icon="edit"></mdb-icon>
              </div>

          </div> -->
        <!-- </div> -->
        <div
          *ngIf="user.ImageId != null"
          (click)="showEditImageForm()"
          class="accImage">
          <img src={{user.Image.Path}}>
        </div>
        <p-avatar
          *ngIf="user.ImageId == null"
          (click)="showEditImageForm()"
          styleClass="p-mr-2"
          size="xlarge"
          class="circle"
          label={{user.Username.charAt(0).toUpperCase()}}
          styleClass="p-mr-2"
          size="xlarge"
          shape="circle"></p-avatar>
        <h4>{{user.Name}}
          {{user.LastName}}</h4>

      </div>

      <mdb-card-body>
        <!--Name-->
        <hr>
        <!--Quotation-->
        <div class="user__item">
          <p class="field">Nazwa
            użytkownika:</p>
          <p>{{user.Username}}</p>
        </div>
        <div class="user__item">
          <p class="field">Typ konta:
          </p>
          <p class="accountType">
            {{user.AccountType}}</p>
        </div>
        <div class="user__item">
          <p class="field">E-mail:</p>
          <p>mail@gmail.com</p>
        </div>
        <div class="user__item">
          <p class="field">Płeć:</p>
          <p>{{user.Gender}}</p>
        </div>
        <div class="user__item">
          <p class="field">Data
            urodzenia:</p>
          <p>{{user.DateOfBirth}}</p>
        </div>
        <div class="user__item">
          <p class="field">Znak zodiaku
          </p>
          <p>{{user.ZodiacSign}}</p>
        </div>
        <div class="user__item">
          <p class="field">Data
            rejestracji:</p>
          <p>{{user.Created}}</p>
        </div>
        <div class="user__item">
          <p class="field">Ostatnia
            aktywność:</p>
          <p>{{user.LastActive}}</p>
        </div>
        <div class="user__item">
          <p class="field">Miasto:</p>
          <p>{{user.City}}</p>
        </div>
        <div class="user__item">
          <p class="field">Kraj:</p>
          <p>{{user.Country}}</p>
        </div>
        <div class="user__item">
          <p class="field">Pakiet:</p>
          <p>{{package}}</p>
        </div>
      </mdb-card-body>
    </mdb-card>

  </div>
  <!--Grid column-->
  <div
    class="col-md-12 col-lg-12 col-xl-8 content">
    <app-bar
      [account]="user?.AccountType"
      [coachPackage]="coachPackage?.PackageName"
      [physiotherapistPackage]="physiotherapistPackage?.PackageName"
      [doctorPackage]="doctorPackage?.PackageName"
      (showProduct)="showProducts()"
      (showPackages)="showPackages()"
      (showSold)="showSold()"
      (showStorage)="showStorage()"
      (showArticle)="showArticle()"
      (showServices)="showServices()"
      (showDiets)="showDiets()"
      (showWorkouts)="showWorkouts()"
      (showMedicine)="showMedicine()">
    </app-bar>
    <form *ngIf="editImageForm"
      class="wrapper2"
      ngForm
      #formImg="ngForm">
      <mdb-card class="form">
        <div
          class="md-form input-group mb-3">
          <input required
            id="imageUrl"
            name="imageUrl"
            ngModel
            #imageUrl="ngModel"
            type="file"
            (change)="onFileChange($event)"
            class="form-control">

          <div class="error"
            *ngIf="imageUrl.touched && !imageUrl.valid">
            <span
              *ngIf="imageUrl.errors.required">Wybierz
              zdjęcie produktu</span>
          </div>
          <span class="error"
            *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany
            plik posiada
            nieprawidłowy typ,
            dozwolone: jpg, jpeg, png,
            gif</span>
        </div>
        <button
          [disabled]="!formImg.valid || !fileTypeCheck"
          (click)="updateImage(user)"
          type="submit"
          mdbBtn
          color="primary"
          mdbWavesEffect>Zapisz</button>
      </mdb-card>
    </form>
    <app-products [button1]="button1">
    </app-products>
    <app-sold [button2]="button2">
    </app-sold>
    <app-packages [button3]="button3"
      (packageBtn)="getPackage($event)">
    </app-packages>
    <app-storage [button4]="button4">
    </app-storage>
    <app-articles [button5]="button5">
    </app-articles>
    <app-services [button6]="button6">
    </app-services>

    <app-user-workouts
      [userID]="user.Id"
      *ngIf="workouts">
    </app-user-workouts>
    <app-user-diets [userID]="user.Id"
      *ngIf="diets"></app-user-diets>

    <app-user-medicine
      [userID]="user.Id"
      [physioPackageID]="user.PhysiotherapistPackageId"
      [doctorPackageID]="user.DoctorPackageId"
      *ngIf="medicine">
    </app-user-medicine>
  </div>

</div>
<!--Grid row-->