.wrapper
  width: 100vw
  height: 100vh
  display: flex
  padding: 100px 30px
  margin: 0

  .user
    display: flex
    align-items: center
    height: 100%
    margin-top: 55px

    .accountType
      &::first-letter
        text-transform: capitalize
  
  

  .avatar
    width: 100%
    padding: 20px
    display: flex
    align-items: center

    .circle
      margin-right: 20px
      cursor: pointer

    .accImage
      height: 100px
      width: 100px
      position: relative
      overflow: hidden
      border-radius: 50%
      margin-right: 20px
      display: flex
      align-items: center
      justify-content: center
      img
        // width: auto
        display: inline
        margin: 0 auto
        height: 100%
        width: auto
        
        

  .user__item
    display: flex

    .field
      margin-right: 5px
      width: 150px

  .content
    padding-right: 30px
    .wrapper2
      .form
        padding: 20px 70px
        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            display: flex
            font-size: .7rem
            color: red

.bar
  display: flex
  justify-content: space-evenly

  .bar__item
    width: 230px
    margin: 0 5px


@media (max-width: 1200px)
  .wrapper
    display: flex
    flex-direction: column
    align-items: flex-start

    .user
      height: auto
      flex: 0 0 auto
      margin-top: 0
      margin-bottom: 20px
