.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 30px;
  margin: 0;
}

.wrapper .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 55px;
}

.wrapper .avatar {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .avatar img {
  width: 100px;
  margin-right: 20px;
}

.wrapper .user__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .user__item .field {
  margin-right: 5px;
  width: 150px;
}

.wrapper .content {
  padding-right: 30px;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bar .bar__item {
  width: 230px;
  margin: 0 5px;
}

@media (max-width: 1200px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper .user {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=user.component.css.map */