.header
    justify-content: center
    margin-top: 56px
    height: 500px
    background-image: url('https://images.unsplash.com/photo-1544027993-37dbfe43562a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-attachment: fixed
    overflow: hidden

.shadow
    padding: 50px 150px
    height: 100%
    background-color: rgba(38, 79, 197, 0.5)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.wrapper
    margin: 40px 100px
    display: flex

    .call-button
        height: 60px
        width: 60px
        border-radius: 30px
        background-color: #2c86e2
        position: fixed
        bottom: 60px
        right: 100px
        display: flex
        align-items: center
        justify-content: center
        &:hover
            cursor: pointer
            background-color: #2c6ce2

@media (max-width: 768px)
    .header
        .shadow
            padding: 0
    .wrapper
        flex-direction: column
        margin: 15px 0 15px 15px

        .help_item
            margin-top: 10px
            padding-left: 0

        .call-button
            right: 30px
            bottom: 30px