<div class="header">
    <div class="text-white text-center d-flex align-items-center shadow">

        <h3 class="card-title"><strong>Potrzebujesz pomocy?</strong></h3>
        <p>
            Jeśli nie wiesz jak coś zrobić poszukaj odpowiedzi lub skontaktuj się z nami!
        </p>
    </div>
</div>
<div class="wrapper">
    <div class="list-group col-md-3 col-sm-12">
        <a (click)="showItem(1)" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
            Jak dodać produkt?
        </a>
        <a (click)="showItem(2)" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Jak usunąć
            produkt?</a>
        <a (click)="showItem(3)" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Czym są
            pakiety?</a>
        <a (click)="showItem(4)" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Jak zwiększyć
            miejsce na dysku?</a>
    </div>
    <div class="help_item col-md-9 col-sm-12">
        <app-help-item [item]="item" [title]="title" [content]="content"></app-help-item>
    </div>
    <div class="call-button" (click)="frame.show()">
        <mdb-icon class="text-white" size="lg" fas icon="phone"></mdb-icon>
    </div>

    <div mdbModal #frame="mdbModal" class="modal fade right modal-scrolling" id="frameModalTop" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading">Zadzwoń już teraz!
                    </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <div class="row">
                        <div class="col-3">
                            <p></p>
                            <p class="text-center">
                                <mdb-icon fas icon="phone-volume" size="4x"></mdb-icon>
                            </p>
                        </div>

                        <div class="col-9">
                            <p>Masz pytanie? Chcesz zasięgnąć porady technicznej?</p>
                            <p>Zadzwoń do nas, a pomożemy w każdej sprawie!</p>
                            <p>tel. 123 456 789</p>
                        </div>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a href="tel:+123456789" type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect>Zadzwoń</a>
                    <a type="button" mdbBtn color="info" outline="true" class="waves-effect" mdbWavesEffect
                        data-dismiss="modal" (click)="frame.hide()">Zamknij</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>