.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1544027993-37dbfe43562a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.shadow {
  padding: 50px 150px;
  height: 100%;
  background-color: rgba(38, 79, 197, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  margin: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .call-button {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: #2c86e2;
  position: fixed;
  bottom: 60px;
  right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .call-button:hover {
  cursor: pointer;
  background-color: #2c6ce2;
}

@media (max-width: 768px) {
  .header .shadow {
    padding: 0;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 15px 15px;
  }
  .wrapper .help_item {
    margin-top: 10px;
    padding-left: 0;
  }
  .wrapper .call-button {
    right: 30px;
    bottom: 30px;
  }
}
/*# sourceMappingURL=help.component.css.map */