<app-header></app-header>
<app-articles-carousel [getArticle]="true"></app-articles-carousel>
<app-articles-carousel [getUser]="true"></app-articles-carousel>
<app-about></app-about>
<app-plans></app-plans>
<app-footer></app-footer>


