<div class="wrapper">
  <div class="text-center">
    <div class="btn-group bar" role="group" aria-label="Basic example">
      <button [disabled]="packages?.length === 3" (click)="showAddPackageForm()" mdbBtn type="button" color="primary"
        class="waves-light bar__item" mdbWavesEffect>Dodaj nowy pakiet</button>
      <button *ngIf="user.AccountType === 'Fizjoterapeuta' || user.AccountType === 'Lekarz sportowy'" (click)="showAddMedicalExForm()" mdbBtn type="button"
        color="primary" class="waves-light bar__item" mdbWavesEffect>Dodaj nowe badanie</button>
    </div>

    <form *ngIf="addPackageForm" [formGroup]="form">
      <mdb-card class="form">
        <div *ngIf="!edit" class="md-form input-group mb-3">
          <select *ngIf="user.AccountType === 'trener'" required class="form-control" id="package" name="package"
            [formControl]="package">
            <option disabled value="">Nazwa</option>
            <option [hidden]="findInArray(packages, 'Dieta')" value="Dieta">Dieta</option>
            <option [hidden]="findInArray(packages, 'Trening')" value="Trening">Trening</option>
            <option [hidden]="findInArray(packages, 'Oba')" value="Oba">Oba</option>
          </select>
          <select *ngIf="user.AccountType === 'Fizjoterapeuta'" required class="form-control" id="package"
            name="package" [formControl]="package">
            <option disabled value="">Nazwa</option>
            <option [hidden]="findInArray(physioPackages, 'Podstawowy')" value="Podstawowy">Podstawowy</option>
            <option [hidden]="findInArray(physioPackages, 'Rozszerzony')" value="Rozszerzony">Rozszerzony</option>
            <option [hidden]="findInArray(physioPackages, 'Premium')" value="Premium">Premium</option>
          </select>
          <select *ngIf="user.AccountType === 'Lekarz sportowy'" required class="form-control" id="package"
            name="package" [formControl]="package">
            <option disabled value="">Nazwa</option>
            <option [hidden]="findInArray(doctorPackages, 'Podstawowy')" value="Podstawowy">Podstawowy</option>
            <option [hidden]="findInArray(doctorPackages, 'Rozszerzony')" value="Rozszerzony">Rozszerzony</option>
            <option [hidden]="findInArray(doctorPackages, 'Premium')" value="Premium">Premium</option>
          </select>
          <span class="error" *ngIf="package.touched && !package.valid">Wybierz pakiet</span>
        </div>
        <div class="md-form input-group mb-3">
          <input mdbInput required id="price" name="price" [formControl]="price" type="text" min="0"
            class="form-control" pattern="^\d+\.\d\d$">
          <label class="">Cena</label>
          <div class="error" *ngIf="price.touched && !price.valid">
            <span *ngIf="price.errors.required">Podaj cenę pakietu</span>
            <span *ngIf="price.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki "." do oddzielenia
              wartości dziesiętnej</span>
          </div>
        </div>

        <div *ngIf="!this.edit" class="md-form mb-3">
          <button [disabled]="!form.valid" (click)="addPackage(user.AccountType)" type="submit" mdbBtn color="primary"
            mdbWavesEffect>Dodaj</button>
        </div>
        <div *ngIf="this.edit" class="md-form mb-3">
          <button [disabled]="!form.valid" (click)="updatePackage(user.AccountType)" type="submit" mdbBtn
            color="primary" mdbWavesEffect>Edytuj</button>
        </div>

      </mdb-card>
    </form>
    <form *ngIf="addMedicalExForm" [formGroup]="form2">
      <mdb-card class="form">
        <div class="md-form input-group mb-3">
          <select *ngIf="user.AccountType === 'Fizjoterapeuta'" required class="form-control" id="medicalPackage"
            name="medicalPackage" [formControl]="medicalPackage">
            <option [ngValue]="null" selected disabled value="">Wybierz pakiet</option>
            <option *ngFor="let package of physioPackages" [value]="package.Id">{{package.PackageName}}</option>
          </select>
          <select *ngIf="user.AccountType === 'Lekarz sportowy'" required class="form-control" id="medicalPackage"
            name="medicalPackage" [formControl]="medicalPackage">
            <option [ngValue]="null" selected disabled value="">Wybierz pakiet</option>
            <option *ngFor="let package of doctorPackages" [value]="package.Id">{{package.PackageName}}</option>
          </select>
          <span class="error" *ngIf="package.touched && !package.valid">Wybierz pakiet</span>
        </div>
        <div class="md-form input-group mb-3">
          <input mdbInput required id="medicalExName" name="medicalExName" [formControl]="medicalExName" type="text"
            class="form-control">
          <label class="">Nazwa badania</label>
          <div class="error" *ngIf="medicalExName.touched && !medicalExName.valid">
            <span *ngIf="medicalExName.errors.required">Podaj nazwę badania pakietu</span>
          </div>
        </div>
        <div class="md-form input-group mb-3">
          <input mdbInput required id="medicalExPrice" name="medicalExPrice" [formControl]="medicalExPrice" type="text"
            min="0" class="form-control" pattern="^\d+\.\d\d$">
          <label class="">Koszt</label>
          <div class="error" *ngIf="medicalExPrice.touched && !medicalExPrice.valid">
            <span *ngIf="medicalExPrice.errors.required">Podaj koszt badania</span>
            <span *ngIf="medicalExPrice.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki "." do
              oddzielenia wartości dziesiętnej</span>
          </div>
        </div>

        <div *ngIf="!this.editMedicine" class="md-form mb-3">
          <button [disabled]="!form2.valid" (click)="addMedicalEx(user.AccountType)" type="submit" mdbBtn
            color="primary" mdbWavesEffect>Dodaj</button>
        </div>
        <div *ngIf="this.editMedicine" class="md-form mb-3">
          <button [disabled]="!form2.valid" (click)="updateMedicalEx(user.AccountType)" type="submit" mdbBtn color="primary"
            mdbWavesEffect>Edytuj</button>
        </div>

      </mdb-card>
    </form>
  </div>
  <h2 class="h3 py-5 text-center">Twoje pakiety<span *ngIf="user.AccountType === 'trener'"> treningowe</span><span
      *ngIf="user.AccountType === 'Fizjoterapeuta' || user.AccountType === 'Lekarz sportowy'"> lekarskie</span></h2>
  <div class="maintable">
    <table *ngIf="user.AccountType === 'trener'" mdbTable striped="true">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa pakietu</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let package of packages; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{package.PackageName}}</td>
          <td>{{package.Price}} <button (click)="showEditForm(package, user.AccountType)" mdbBtn color="warning"
              size="sm" mdbWavesEffect>Edytuj</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="user.AccountType === 'Fizjoterapeuta'" class="maintableFizjo">
      <div class="outside" *ngFor="let package of physioPackages; index as i">
        <table mdbTable striped="true">
          <thead class="black white-text">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa pakietu</th>
              <th scope="col">Cena</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol>
              <th scope="row">{{i+1}}</th>
              <td>{{package.PackageName}}</td>
              <td>{{package.Price}} <button (click)="showEditForm(package, user.AccountType)" mdbBtn color="warning"
                  size="sm" mdbWavesEffect>Edytuj</button></td>
            </tr>
          </tbody>
        </table>
      
        <table mdbTable class="inside" striped="true">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa badania</th>
              <th scope="col">Cena</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let medicalEx of package.PhysiotherapistsExs; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{medicalEx.Name}}</td>
              <td>{{medicalEx.Price}} 
                <button (click)="showEditExForm(medicalEx, user.AccountType)" mdbBtn color="warning"
                  size="sm" mdbWavesEffect>Edytuj</button>
                <button (click)="deleteMedicalEx(medicalEx)" mdbBtn color="danger"
                  size="sm" mdbWavesEffect>Usuń</button>
                </td>
            </tr>
          </tbody>
        </table>
        <hr class="small-hr my-4">
      </div>
    </div>
    <div *ngIf="user.AccountType === 'Lekarz sportowy'" class="maintableFizjo">
      <div class="outside" *ngFor="let package of doctorPackages; index as i">
        <table mdbTable striped="true">
          <thead class="black white-text">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa pakietu</th>
              <th scope="col">Cena</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol>
              <th scope="row">{{i+1}}</th>
              <td>{{package.PackageName}}</td>
              <td>{{package.Price}} <button (click)="showEditForm(package, user.AccountType)" mdbBtn color="warning"
                  size="sm" mdbWavesEffect>Edytuj</button></td>
            </tr>
          </tbody>
        </table>
      
        <table mdbTable class="inside" striped="true">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa badania</th>
              <th scope="col">Cena</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let medicalEx of package.DoctorExs; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{medicalEx.Name}}</td>
              <td>{{medicalEx.Price}} 
                <button (click)="showEditExForm(medicalEx, user.AccountType)" mdbBtn color="warning"
                  size="sm" mdbWavesEffect>Edytuj</button>
                <button (click)="deleteDoctorMedicalEx(medicalEx)" mdbBtn color="danger"
                  size="sm" mdbWavesEffect>Usuń</button>
                </td>
            </tr>
          </tbody>
        </table>
        <hr class="small-hr my-4">
      </div>
    </div>
  </div>
</div>
