<div class="wrapper">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Poprzedni
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Bieżący
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Następny
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pl' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Miesiąc
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Tydzień
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Dzień
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [locale]="'pl'" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" [weekStartsOn]="1" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [locale]="'pl'" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [weekStartsOn]="1" (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [locale]="'pl'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [weekStartsOn]="1"
      (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
    <!-- <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [locale]="'pl'" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" [weekStartsOn]="1" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [locale]="'pl'" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [weekStartsOn]="1" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [locale]="'pl'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [weekStartsOn]="1"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view> -->
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <br /><br /><br />

  <h3 *ngIf="account !== 'użytkownik' && logged() && userID === tokenIdInt">
    Edycja wydarzeń
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Dodaj nowe
    </button>
    <div class="clearfix"></div>
  </h3>

  <div *ngIf="account !== 'użytkownik' && logged() && userID === tokenIdInt" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tytuł</th>
          <th>Główny kolor</th>
          <th>Drugorzędny color</th>
          <th>Początek</th>
          <th>Koniec</th>
          <th>Usuń</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input type="text" class="form-control" [(ngModel)]="event.title" (ngModelChange)="updateEvent(event)" />
          </td>
          <td>
            <input type="color" [(ngModel)]="event.color.primary" (change)="updateEvent(event)" />
          </td>
          <td>
            <input type="color" [(ngModel)]="event.color.secondary" (change)="updateEvent(event)" />
          </td>
          <td>
            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
              (ngModelChange)="updateEvent(event)" [altInput]="true" [convertModelValue]="true" [enable]="enable"
              [enableTime]="true" [time24hr]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Nie ustawiono" />
          </td>
          <td>
            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
              (ngModelChange)="updateEvent(event)" [altInput]="true" [convertModelValue]="true" [enable]="enable"
              [enableTime]="true" [time24hr]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Nie ustawiono" />
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Usuń
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">{{modalData?.event.title}}</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <p>Szczegóły:</p>
        <p><strong>Początek: </strong><span dateFormat="Y-m-dTH:i">{{modalData?.event.start}}</span></p>
        <p><strong>Koniec: </strong>{{modalData?.event.end}}</p>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>
</div>