.wrapper
  margin: 70px 100px

  .form-check-input
      margin-left: 5px
  .form-check-label
      margin-left: 30px
  .link
    color: #4285f4

  form
    .form-control.ng-touched.ng-invalid
      border: 2px solid red

    .form-control.ng-touched.ng-valid
        border: 2px solid #00dc00
    .input-group
        display: flex
        flex-direction: column
    .error
        font-size: .7rem
        color: red

@media (max-width: 1200px)
  .wrapper
    margin: 70px 20px