.wrapper {
  margin: 70px 100px;
}

.wrapper .form-check-input {
  margin-left: 5px;
}

.wrapper .form-check-label {
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .wrapper {
    margin: 70px 20px;
  }
}
/*# sourceMappingURL=delivery.component.css.map */