<div class="card wrapper">
    <div class="card-body">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-8 mb-4">

                <!-- Pills navs -->
                <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
                    <li class="nav-item">
                        <a (click)="handleShowDelivery()" class="nav-link link" data-toggle="tab" role="tab">1.
                            Podsumowanie</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="handleShowPayment()" class="nav-link link" data-toggle="tab" role="tab">2.
                            Płatność</a>
                    </li>
                </ul>

                <!-- Pills panels -->
                <div class="tab-content pt-4">

                    <!--Panel 1-->
                    <div [ngClass]="[!payment ? 'tab-pane fade in show active' : 'tab-pane fade in']"
                        id="tabCheckoutBilling123" role="tabpanel">

                        <!--Card content-->
                        <form ngForm #form="ngForm">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6 mb-4">

                                    <!--firstName-->
                                    <label for="firstName" class="">Imię</label>
                                    <input required type="text" id="firstName" name="firstName" ngModel
                                        #firstName="ngModel" class="form-control">
                                    <div class="error" *ngIf="firstName.touched && !firstName.valid">
                                        <span *ngIf="firstName.errors.required">Podaj imię</span>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--lastName-->
                                    <label for="lastName" class="">Nazwisko</label>
                                    <input required type="text" id="lastName" name="lastName" ngModel
                                        #lastName="ngModel" class="form-control">
                                    <div class="error" *ngIf="lastName.touched && !lastName.valid">
                                        <span *ngIf="lastName.errors.required">Podaj nazwisko</span>
                                        <span *ngIf="lastName.errors.minlength">Nazwa musi zawierać min 4 znaki</span>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Username-->
                            <div class="row">
                                <div class="col-md-12 mb-2">

                                    <label for="user">Nazwa użytkownika</label>
                                    <input required type="text" class="form-control" id="user" name="user" ngModel
                                        #user="ngModel" placeholder="">
                                    <div class="error" *ngIf="user.touched && !user.valid">
                                        <span *ngIf="user.errors.required">Podaj nazwę użytkownika</span>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <!--email-->
                                    <label for="email" class="">E-mail</label>
                                    <input required type="email" id="email" name="email" class="form-control" ngModel
                                        #email="ngModel" email placeholder="youremail@example.com">
                                    <div class="error" *ngIf="email.touched && !email.valid">
                                        <span *ngIf="email.errors.required">Podaj adres e-mail</span>
                                        <span *ngIf="email.errors.email">Podany adres jest nieprawidłowy</span>
                                    </div>
                                </div>
                            </div>
                            <!--address-->
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <label for="address" class="">Adres</label>
                                    <input required type="text" id="address" name="adress" class="form-control" ngModel
                                        #adress="ngModel" placeholder="Warszawa ul. Woronicza 17">
                                    <div class="error" *ngIf="adress.touched && !adress.valid">
                                        <span *ngIf="adress.errors.required">Podaj adres zamiszkania</span>

                                    </div>
                                </div>
                            </div>
                            <!--address-2-->
                            <label for="address-2" class="">Adres 2 (opcjonalnie)</label>
                            <input type="text" id="address-2" class="form-control mb-4"
                                placeholder="Mieszkanie lub dom">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4">

                                    <label for="country">Kraj</label>
                                    <select class="custom-select d-block w-100 form-control" id="country" name="country"
                                        ngModel #country="ngModel" required>
                                        <option value="">
                                            Wybierz...</option>
                                        <option>Polska</option>
                                        <option>United States</option>
                                    </select>
                                    <div class="error" *ngIf="country.touched && !country.valid">
                                        <span *ngIf="country.errors.required">Wybierz kraj</span>

                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4">

                                    <label for="state">Województwo</label>
                                    <select class="custom-select d-block w-100 form-control" id="state" name="state"
                                        ngModel #state="ngModel" required>
                                        <option value="">Wybierz...</option>
                                        <option>Lubelskie</option>
                                    </select>
                                    <div class="error" *ngIf="state.touched && !state.valid">
                                        <span *ngIf="state.errors.required">Wybierz województwo</span>

                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->

                                <!--Grid column-->

                            </div>

                            <div class="row">

                                <div class="col-lg-6 col-md-6 mb-4">

                                    <label for="postCode">Kod pocztowy</label>
                                    <input required type="text" class="form-control" id="postCode" name="postCode"
                                        ngModel #postCode="ngModel" placeholder="00-000" pattern="^\d{2}-\d{3}$">
                                    <div class="error" *ngIf="postCode.touched && !postCode.valid">
                                        <span *ngIf="postCode.errors.required">Podaj kod pocztowy</span>
                                        <span *ngIf="postCode.errors.pattern">Podany kod jest niepoprawny</span>
                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 mb-4">

                                    <label for="city">Miasto</label>
                                    <input required type="text" class="form-control" id="city" name="city" ngModel
                                        #city="ngModel" placeholder="np. Warszawa" required>
                                    <div class="error" *ngIf="city.touched && !city.valid">
                                        <span *ngIf="city.errors.required">Podaj miasto</span>

                                    </div>

                                </div>

                            </div>
                            <!--Grid row-->

                            <hr>

                            <div class="mb-1">
                                <input type="checkbox" class="form-check-input filled-in" id="chekboxRules"
                                    name="checboxRules" ngModel #checkboxRules="ngModel" required>
                                <label class="form-check-label" for="chekboxRules">Akceptuję regulamin sklepu</label>
                                <div class="error" *ngIf="checkboxRules.touched && !checkboxRules.valid">
                                    <span *ngIf="checkboxRules.errors.required">Musisz zaakceptować regulamin
                                        sklepu</span>

                                </div>
                            </div>
                            <div class="mb-1">
                                <input type="checkbox" class="form-check-input filled-in" id="subscribeNewsletter">
                                <label class="form-check-label" for="subscribeNewsletter">Chcę zapisać się na
                                    newsletter</label>
                            </div>

                            <hr>

                            <button [disabled]="!form.valid" class="btn btn-primary btn-lg btn-block"
                                (click)="handleShowPayment()" type="submit">Next step</button>

                        </form>

                    </div>
                    <!--/.Panel 1-->


                    <!--Panel 3-->
                    <div [ngClass]="[payment ? 'tab-pane fade in show active' : 'tab-pane fade in']"
                        id="tabCheckoutPayment123" role="tabpanel">

                        <form ngForm #form2="ngForm">
                            <div class="d-block my-3">
                                <div class="mb-2">
                                    <input name="group2" type="radio" class="form-check-input with-gap"
                                        id="radioWithGap4" checked required>
                                    <label class="form-check-label" for="radioWithGap4">Karta kredytowa</label>
                                </div>
                                <div class="mb-2">
                                    <input name="group2" type="radio" class="form-check-input with-gap"
                                        id="radioWithGap5" required>
                                    <label class="form-check-label" for="radioWithGap5">Karta debetowa</label>
                                </div>
                                <div class="mb-2">
                                    <input name="group2" type="radio" class="form-check-input with-gap"
                                        id="radioWithGap6" required>
                                    <label class="form-check-label" for="radioWithGap6">Paypal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name123">Imię i nazwisko posiadacza</label>
                                    <input type="text" class="form-control" id="cardName" name="cardName" ngModel #cardName="ngModel" placeholder="" required>
                                    <div class="error" *ngIf="cardName.touched && !cardName.valid">
                                        <span *ngIf="cardName.errors.required">Podaj imię i nazwisko posiadacza karty</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number123">Numer karty</label>
                                    <input type="text" class="form-control" id="cardNumber" name="cardNumber" ngModel #cardNumber="ngModel" minlength="13" maxlength="16" placeholder="" required>
                                    <div class="error" *ngIf="cardNumber.touched && !cardNumber.valid">
                                        <span *ngIf="cardNumber.errors.required">Podaj numer karty</span>
                                        <span *ngIf="cardNumber.errors.minlength || cardNumber.errors.maxlength">Podany numer jest nieprawidłowy</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration123">Ważność</label>
                                    <input type="text" class="form-control" id="cardDate" name="cardDate" ngModel #cardDate="ngModel" placeholder="MM/YY" pattern="(?:0[1-9]|1[0-2])/[0-9]{2}"
                                        required>
                                        <div class="error" *ngIf="cardDate.touched && !cardDate.valid">
                                            <span *ngIf="cardDate.errors.required">Podaj datę ważności karty</span>
                                            <span *ngIf="cardDate.errors.pattern">Podana wartość jest nieprawidłowa</span>
                                        </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-cvv123">CVV</label>
                                    <input type="text" class="form-control" id="cvv" name="cvv" ngModel #cvv="ngModel" placeholder="000" minlength="3" maxlength="3" required>
                                    <div class="error" *ngIf="cvv.touched && !cvv.valid">
                                        <span *ngIf="cvv.errors.required">Podaj kod CVV</span>
                                        <span *ngIf="cvv.errors.minlength || cvv.errors.maxlength">Podany kod jest nieprawidłowy</span>
                                    </div>
                                </div>

                            </div>
                            <hr class="mb-4">
                            <button [disabled]="!form2.valid" class="btn btn-primary btn-lg btn-block" type="submit">Zapłać</button>
                        </form>
                    </div>
                    <!--/.Panel 3-->

                </div>
                <!-- Pills panels -->


            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 mb-4">


                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <div class="card-body">
                        <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Suma</h4>

                        <hr>

                        <dl class="row" *ngFor="let product of allCart">
                            <dd class="col-sm-8">
                                {{product.Name}}
                            </dd>
                            <dd class="col-sm-4">
                                {{this.updateCartPriceItem(priceToFloat(product.Price), product.Cart)}}zł
                            </dd>

                        </dl>
                        <hr>
                        <dl class="row">
                            <dt class="col-sm-8">
                                Suma
                            </dt>
                            <dt class="col-sm-4">
                                {{ammount}}zł
                            </dt>
                        </dl>
                    </div>

                </div>
                <!--/.Card-->



            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</div>