<section *ngIf="button3" class="packages">

  <h2 class="h3 py-5 text-center">Pakiety</h2>

  <table mdbTable>
    <thead class="black white-text">
    <tr>
      <!--    <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
      <th scope="col">ID</th>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Strony</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <!--  <tr mdbTableCol *ngFor="let el of elements">-->
    <!--    <th scope="row">{{el.id}}</th>-->
    <!--    <td>{{el.first}}</td>-->
    <!--    <td>{{el.last}}</td>-->
    <!--    <td>{{el.handle}}</td>-->
    <!--  </tr>-->
    <tr>
      <th scope="row">1</th>
      <td>Basic</td>
      <td>300zł</td>
      <td>1</td>
      <td><button (click)="setPackage('Basic')" mdbBtn color="primary" size="sm" mdbWavesEffect>Wybierz</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Biznes</td>
      <td>500zł</td>
      <td>5</td>
      <td><button (click)="setPackage('Biznes')" mdbBtn color="primary" size="sm" mdbWavesEffect>Wybierz</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pro</td>
      <td>1000zł</td>
      <td>Nielimitowane</td>
      <td><button (click)="setPackage('Pro')" mdbBtn color="primary" size="sm" mdbWavesEffect>Wybierz</button></td>
    </tr>
    </tbody>
  </table>
</section>
