.wrapper
    margin-top: 50px
    
    .form
        padding: 50px

        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            display: flex
            font-size: .7rem
            color: red

        select
            font-family: Roboto, "Helvetica Neue", sans-serif
            width: 100%
            height: 40px
            border: none
            border-bottom: 1px solid #ced4da
            background: transparent
            outline: none
            color: #757575
            font-size: 1rem
            font-weight: 100

            &:invalid
                color: gray

            option
                font-size: 1.2rem
                color: #757575
                background-color: white
                padding: 10px
        .file
            border: none
            border-bottom: 1px solid #ced4da
        .checkbox
            flex-direction: row
            align-items: center
            color: #757575
            font-size: 1rem
            font-weight: 100
            p
                margin: 0 5px
.product
    cursor: pointer
    