<!--Section: Products v.3-->


<section *ngIf="button1" class="text-center pb-3 my-5">


  <div class="btn-group bar" role="group" aria-label="Basic example">
    <button (click)="showAddProductForm()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Dodaj nowy
      produkt</button>
  </div>

  <form class="wrapper" *ngIf="addProductForm" ngForm #form="ngForm">
    <mdb-card class="form">
      <div class="md-form input-group mb-3">
        <input mdbInput required id="productName" name="productName" ngModel #productName="ngModel" type="text"
          class="form-control">
        <label class="">Nazwa</label>
        <div class="error" *ngIf="productName.touched && !productName.valid">
          <span *ngIf="productName.errors.required">Podaj nazwę produktu</span>
        </div>
      </div>
      <div class="md-form input-group mb-3">
        <select  required class="form-control" id="category" name="category" ngModel #category="ngModel">
          <option value="" disabled selected>Kategoria</option>
          <option *ngFor="let cat of categorys" value={{cat.Id}}>{{cat.NameCategory}}</option>
        </select>
        <span class="error" *ngIf="category.touched && !category.valid">Wybierz kategorię</span>
      </div>
      <div class="md-form input-group mb-0">
        <textarea required type="text" id="description" name="description" ngModel #description="ngModel"
          class="form-control md-textarea" rows="6" mdbInput></textarea>
        <label for="form-contact-description">Opis</label>
        <div class="error" *ngIf="description.touched && !description.valid">
          <span *ngIf="description.errors.required">Podaj opis produktu</span>
        </div>
      </div>
      <div class="md-form input-group mb-3">
        <!-- <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="text"
         class="form-control file" placeholder="Adres URL zdjęcia">
      <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
        <span *ngIf="imageUrl.errors.required">Wklej adres URL zdjęcia produktu</span>
      </div> -->
      
        <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="file"
          (change)="onFileChange($event)" class="form-control file">
        <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
          <span *ngIf="imageUrl.errors.required">Wybierz zdjęcie produktu</span>
        </div>
        <span class="error" *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany plik posiada
          nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span>
      </div>
      <div class="md-form input-group mb-3">
        <input mdbInput required id="price" name="price" ngModel #price="ngModel" type="text" min="0"
          class="form-control" pattern="^\d+\.\d\d$"> 
        <label class="">Cena</label>
        <div class="error" *ngIf="price.touched && !price.valid">
          <span *ngIf="price.errors.required">Podaj cenę produktu</span>
          <span *ngIf="price.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki "." do oddzielenia wartości dziesiętnej</span>
        </div>
      </div>
      <div class="md-form input-group mb-3 checkbox">
        <input type="checkbox" (change)="getCheckboxValue($event)" id="visible" name="visible" ngModel
          #visible="ngModel">
        <p>Widoczny</p>
        <!-- <label for="visible">Widoczny</label> -->
      </div>
      <div class="md-form mb-3">
        <!-- <button [disabled]="!form.valid || !fileTypeCheck"
          (click)="add(productName.value, description.value, imageUrl.value, price.value, category.value, form)" type="submit" mdbBtn
          color="primary" mdbWavesEffect>Dodaj</button> -->
          <button [disabled]="!form.valid || !fileTypeCheck"
          (click)="add(productName.value, description.value, price.value, category.value, form)" type="submit" mdbBtn
          color="primary" mdbWavesEffect>Dodaj</button>
      </div>

    </mdb-card>
  </form>
  <!-- Editable table -->

  <!-- Editable table -->
  <!--Section heading-->
  <h2 class="h3 py-5">Twoje produkty</h2>
  <!--Section description-->

  <!--Grid row-->
  <div class="row">


    <!--Grid column-->
    <div *ngFor="let product of products" class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <mdb-card routerLink="/shop/products/{{product.Id}}" class="align-items-center product">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src={{product.Image.Path}} alt="">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Category & Title-->
          <span class="grey-text">
            <h5>{{product.Category.NameCategory}}</h5>
          </span>
          <h5>
            <strong>
              <span class="dark-grey-text">{{product.Name}}
                <mdb-badge pill="true" danger="true">NEW</mdb-badge>
              </span>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>{{priceToFloat(product.Price)}}zł</strong>
          </h4>
          <button (click)="delete(product)" mdbBtn color="danger" mdbWavesEffect>Usuń</button>
        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->



</section>
<!--Section: Products v.3-->