.wrapper {
  margin-top: 70px;
  padding: 0 150px;
}

.wrapper .card {
  height: 100%;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=category.component.css.map */