<div class="wrapper" *ngIf="account" [ngStyle]="{background: 'url('+ account.ImageURL +')', backgroundSize: 'cover', backgroundRepeat: 'no-repeat', backgroundPosition: 'center 0', backgroundttachment: 'fixed'}">
    <!-- <div class="background"  > -->
        <!-- <img src={{account.ImageURL}} alt=""> -->
    <!-- </div> -->
    <mdb-card class="form">
        <form class="md-form" ngForm #form="ngForm">
            <h3>Zarejestruj się</h3>
            <span class="accountType">Typ konta: <span class="name">{{accountType}}</span></span>
            <div [ngClass]="{'show' : accountType=='lekarz', 'hide' : accountType != 'lekarz' }" class="md-form input-group mb-3">
                <select [required]="accountType=='lekarz'" class="form-control" id="Acc" name="Acc" ngModel #Acc="ngModel">
                    <option disabled value="">Typ konta</option>
                    <option value="Lekarz sportowy">Lekarz sportowy</option>
                    <option value="Fizjoterapeuta">Fizjoterapeuta</option>
                </select>
                <span class="error" *ngIf="Acc.touched && !Acc.valid">Wybierz typ konta</span>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required minlength="4" id="UserName" name="UserName" ngModel #UserName="ngModel" type="text"
                    class="form-control">
                <label class="">Nazwa użytkownika</label>
                <div class="error" *ngIf="UserName.touched && !UserName.valid">
                    <span *ngIf="UserName.errors.required">Podaj nazwę użytkownika</span>
                    <span *ngIf="UserName.errors.minlength">Nazwa musi zawierać min 4 znaki</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required id="Name" name="Name" ngModel #Name="ngModel" type="text" class="form-control">
                <label class="">Imię</label>
                <span class="error" *ngIf="Name.touched && !Name.valid">Podaj imię</span>
            </div>
            <div class="md-form input-group mb-3">
                <input required mdbInput id="LastName" name="LastName" ngModel #LastName="ngModel" type="text"
                    class="form-control">
                <label class="">Nazwisko</label>
                <span class="error" *ngIf="LastName.touched && !LastName.valid">Podaj Nazwisko</span>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required id="email" name="email" ngModel #email="ngModel" email type="email" class="form-control">
                <label class="">E-mail</label>
                <div class="error" *ngIf="email.touched && !email.valid">
                    <span *ngIf="email.errors.required">Podaj adres e-mail</span>
                    <span *ngIf="email.errors.email">Podany adres jest nieprawidłowy</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required minlength="6" id="Password" name="Password" ngModel #Password="ngModel" Password type="password" class="form-control">
                <label class="">Hasło</label>
                <div class="error" *ngIf="Password.touched && !Password.valid">
                    <span *ngIf="Password.errors.required">Podaj hasło</span>
                    <span *ngIf="Password.errors.minlength">Hasło musi składać się minimum z 6 znaków</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required minlength="6" id="password2" name="password2" ngModel #password2="ngModel" password2 type="password" class="form-control">
                <label class="">Powtórz hasło</label>
                <div class="error" *ngIf="password2.touched && !password2.valid">
                    <span *ngIf="password2.errors.required">Powtórz hasło</span>
                    <span *ngIf="password2.errors.minlength">Hasło musi składać się minimum z 6 znaków</span>
                </div>
                <div class="error" *ngIf="password2.touched && password2.valid">
                    <span *ngIf="Password.value !== password2.value">Podane hasła różnią się</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <!-- <input mdbInput type="email" class="form-control"> -->
                <input mdbInput required id="DateOfBirth" name="DateOfBirth" ngModel #DateOfBirth="ngModel" type="text" class="form-control" onfocus="(this.type='date')" />
                <label class="">Data urodzenia</label>
                <div class="error" *ngIf="DateOfBirth.touched && !DateOfBirth.valid">
                    <span *ngIf="DateOfBirth.errors.required">Podaj date urodzenia</span>
                </div>
            </div>
            <!-- <div>
            <label style="color: #757575">Płeć</label>
            <div class="custom-control custom-radio" style="color: #757575">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios"
                    mdbInput>
                <label class="custom-control-label" for="defaultUnchecked">Kobieta</label>
            </div>
            <div class="custom-control custom-radio" style="color: #757575">
                <input type="radio" class="custom-control-input" id="defaultUnchecked1" name="defaultExampleRadios"
                    mdbInput>
                <label class="custom-control-label" for="defaultUnchecked1">Mężczyzna</label>
            </div>
            <div class="custom-control custom-radio" style="color: #757575">
                <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="defaultExampleRadios"
                    mdbInput>
                <label class="custom-control-label" for="defaultUnchecked2">Inny</label>
            </div>
        </div> -->
            <div class="md-form input-group mb-3">
                <input mdbInput required id="City" name="City" ngModel #City="ngModel" type="text" class="form-control">
                <label class="">Miasto</label>
                <span class="error" *ngIf="City.touched && !City.valid">Podaj nazwę swojego miasta</span>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required id="Country" name="Country" ngModel #Country="ngModel" type="text" class="form-control">
                <label class="">Państwo</label>
                <span class="error" *ngIf="Country.touched && !Country.valid">Podaj nazwę swojego państwa</span>
            </div>
            <div class="md-form input-group mb-3">
                <select required class="form-control" id="Gender" name="Gender" ngModel #Gender="ngModel">
                    <option disabled value="">Płeć</option>
                    <option value="Kobieta">Kobieta</option>
                    <option value="Mężczyzna">Mężczyzna</option>
                    <option value="Inna">Inna</option>
                </select>
                <span class="error" *ngIf="Gender.touched && !Gender.valid">Wybierz płeć</span>
            </div>
            <div class="md-form input-group mb-3">
                <select required class="form-control" id="ZodiacSign" name="ZodiacSign" ngModel #ZodiacSign="ngModel">
                    <option disabled value="">Znak zodiaku</option>
                    <option value="Baran">Baran</option>
                    <option value="Byk">Byk</option>
                    <option value="Bliźnięta">Bliźnięta</option>
                    <option value="Rak">Rak</option>
                    <option value="Lew">Lew</option>
                    <option value="Panna">Panna</option>
                    <option value="Waga">Waga</option>
                    <option value="Skorpion">Skorpion</option>
                    <option value="Strzelec">Strzelec</option>
                    <option value="Koziorożec">Koziorożec</option>
                    <option value="Wodnik">Wodnik</option>
                    <option value="Ryby">Ryby</option>
                </select>
                <span class="error" *ngIf="ZodiacSign.touched && !ZodiacSign.valid">Wybierz swój znak zodiaku</span>
            </div>

            <div class="md-form mb-3">
                <button *ngIf="accountType != 'lekarz'" [disabled]="!form.valid || Password.value !== password2.value" (click)="register(UserName.value, Name.value, LastName.value, Password.value, Gender.value, DateOfBirth.value, ZodiacSign.value, City.value, Country.value, accountType)" type="submit" mdbBtn color="primary" mdbWavesEffect>Zarejestruj</button>
                <button *ngIf="accountType == 'lekarz'" [disabled]="!form.valid || Password.value !== password2.value" (click)="register(UserName.value, Name.value, LastName.value, Password.value, Gender.value, DateOfBirth.value, ZodiacSign.value, City.value, Country.value, Acc.value)" type="submit" mdbBtn color="primary" mdbWavesEffect>Zarejestruj</button>
            </div>
        </form>
    </mdb-card>
</div>
<!-- [disabled]="!form.valid || Password.value !== password2.value" -->