.wrapper {
  margin-top: 70px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .form {
  width: 600px;
  padding: 50px;
}

.wrapper .form select {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #ced4da;
  background: transparent;
  outline: none;
  color: #757575;
  font-size: 1rem;
  font-weight: 100;
}

.wrapper .form select:invalid {
  color: gray;
}

.wrapper .form select option {
  font-size: 1.2rem;
  color: #757575;
  background-color: white;
  padding: 10px;
}

@media (max-width: 500px) {
  .wrapper .form {
    width: 100%;
    padding: 20px;
  }
}
/*# sourceMappingURL=registration.component.css.map */