.wrapper
    margin-top: 70px
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    

    .accountType
        color: #616161

        .name
            text-transform: capitalize

    .form
        z-index: 1
        width: 600px
        padding: 30px 50px
        background: rgba(255, 255, 255, .95)
        
        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            font-size: .7rem
            color: red
        .show
            display: flex

        .hide
            display: none

        select
            font-family: Roboto, "Helvetica Neue", sans-serif
            width: 100%
            height: 40px
            border: none
            border-bottom: 1px solid #ced4da
            background: transparent
            outline: none
            color: #757575
            font-size: 1rem
            font-weight: 100

            &:invalid
                color: gray

            option
                font-size: 1.2rem
                color: #757575
                background-color: white
                padding: 10px

@media (max-width: 500px)
    .wrapper
        .form
            width: 100%
            padding: 20px
