.storage {
  margin: 56px 0;
}

.storage .progress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storage .progress-wrapper .progress {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
}

.storage .progress-wrapper .progress-value {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
/*# sourceMappingURL=storage.component.css.map */