<section *ngIf="button4" class="storage">

  <h2 class="h3 py-5 text-center">Miejsce na dysku</h2>

  <div class="progress-wrapper">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
           aria-valuemax="100"></div>
    </div>
    <div class="progress-value">
      20GB/100GB
    </div>
  </div>
</section>
