.wrapper
    padding: 0 150px
    margin-top: 100px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .sortButton
        width: 600px
        max-width: 90vw
        margin-bottom: 20px

    .header
        display: flex
        align-items: center
        padding: 10px

        .header-avatar
            margin-right: 10px
            .accImage
                height: 64px
                width: 64px
                position: relative
                overflow: hidden
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                img
                    // width: auto
                    display: inline
                    margin: 0 auto
                    height: 100%
                    width: auto

        .header-name
            display: flex
            flex-direction: column


    .footer-buttons
        display: flex
        justify-content: space-between
        button
            margin-right: 10px
        
    
    .comment
        margin-top: 20px
        width: 100%
        display: flex
        justify-content: space-between


        input
            width: 90%
            border-radius: 50px
            border: 1px solid lightgray
            outline: none
            padding-left: 10px
            &:focus
                border: 1px solid gray
        .error
            border: 1px solid red


    .comments
        margin: 10px 0
        font-size: .9rem
        display: flex
        justify-content: space-between
        align-items: center

        .delete
            font-size: .6rem
            margin-right: 10px
            color: gray
            &:hover
                cursor: pointer
                color: darkgray
        


    img
        height: auto
        width: 100%
    

@media(max-width: 900px)
    .wrapper
        // padding: 0 10px

