<div class="wrapper">
    <div class="sortButton">
        <div class="btn-group dropdown" mdbDropdown>
            <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                mdbWavesEffect>
                Sortuj
            </button>

            <div class="dropdown-menu dropdown-primary">
                <!-- <a (click)="filterUser('Wszystkie')" class="dropdown-item accountType">Wszystkie</a> -->
                <a (click)="sortPosts('new')" class="dropdown-item accountType">Od najnowszego</a>
                <a (click)="sortPosts('old')" class="dropdown-item accountType">Od najstarszego</a>
            </div>
        </div>
    </div>
    <p-card *ngFor="let article of articles | async" subheader={{article.Title}}
        [style]="{width: '600px', maxWidth: '90vw', marginBottom: '20px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <div class="header">
                <div class="header-avatar">
                    <p-avatar *ngIf="article.User.ImageId == null"
                        label={{article.User.Username.charAt(0).toUpperCase()}} styleClass="p-mr-2" size="xlarge"
                        shape="circle"></p-avatar>
                    <div *ngIf="article.User.ImageId != null" class="accImage">
                        <img src={{article.User.Image.Path}}>
                    </div>
                </div>
                <div class="header-name">
                    <span>{{article.User.Name}} {{article.User.LastName}}</span>
                    <span>{{article.Date}}</span>
                    <span *ngIf="article.ShowTime">{{article.Time}}</span>
                </div>
            </div>
            <img alt="Card" src={{article.Image.Path}}>
        </ng-template>
        {{avgRate(article.Rates)}}
        {{avgUserRate(article.User.RateUsers)}}
        <p>{{article.ShortDesc}}</p>
        Ocena artykułu:
        <p-rating [(ngModel)]="ratePost" readonly="true" [cancel]="false"></p-rating>
        Ocena użytkownika:
        <p-rating [(ngModel)]="rateUser" readonly="true" [cancel]="false"></p-rating>
        <ng-template pTemplate="footer" class="footer">
            <div class="footer-buttons">
                <div class="buttons-left">
                    <!-- <p-toggleButton
                        [style]="{width: '37.7px', height: '37.7px', borderRadius: '50%', marginRight: '10px'}"
                        offIcon="pi pi-star-o" [onIcon]="'pi pi-star'"></p-toggleButton> -->
                    <button (click)="showHideComments(article.Id)" pButton pRipple type="button" icon="pi pi-comment"
                        class="p-button-rounded p-button-info"></button>
                </div>
                <button routerLink="/article/{{article.Id}}" [style]="{marginRight: '0'}" pButton pRipple type="button"
                    icon="pi pi-book" class="p-button-rounded p-button-success read"></button>
            </div>
            <form *ngIf="index==article.Id" class="p-float-label comment" [formGroup]="form">
                <input [ngClass]="form.invalid && form.touched ? 'error': ''" placeholder="Komentarz..." required
                    id="content{{article.Id}}" name="content" formControlName="content" type="text" pInputText>
                <!-- <label for="content">Komentarz</label> -->
                <button [disabled]="!logged() || form.invalid" (click)="addComment(article.Id)" pButton pRipple
                    type="button" icon="pi pi-send" class="p-button-rounded p-button-outlined"></button>
            </form>
            <div *ngIf="index==article.Id">
                <div *ngFor="let comment of article.Comments" class="comments">
                    <span><strong>{{comment.User.Name}} {{comment.User.LastName}}</strong> {{comment.Content}}</span>
                    <span *ngIf="logged() && tokenIdInt == comment.UserId" (click)="deleteComment(comment)"
                        class="delete">Usuń</span>
                </div>
            </div>
        </ng-template>

    </p-card>

</div>