<div class="wrapper">
    <mdb-card class="form">
        <form ngForm #form="ngForm" (ngSubmit)="login(user.value, password.value)">
            <h3>Zaloguj się</h3>
            <div class="md-form input-group mb-3">
                <input mdbInput required minlength="4" id="user" name="user" ngModel #user="ngModel" type="text"
                    class="form-control">
                <label class="">Nazwa użytkownika</label>
                <div class="error" *ngIf="user.touched && !user.valid">
                    <span *ngIf="user.errors.required">Podaj nazwę użytkownika</span>
                    <span *ngIf="user.errors.minlength">Nazwa musi zawierać min 4 znaki</span>
                </div>
            </div>
            <div class="md-form input-group mb-3">
                <input mdbInput required minlength="6" id="password" name="password" ngModel #password="ngModel"
                    type="password" class="form-control">
                <label class="">Hasło</label>
                <div class="error" *ngIf="password.touched && !password.valid">
                    <span *ngIf="password.errors.required">Podaj hasło</span>
                    <span *ngIf="password.errors.minlength">Hasło musi zawierać min 6 znaków</span>
                </div>
            </div>

            <div class="md-form mb-3">
                <button [disabled]="!form.valid" type="submit" mdbBtn color="primary" mdbWavesEffect>Zaloguj</button>
            </div>
        </form>
    </mdb-card>
</div>