.wrapper
    margin-top: 70px
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    // justify-content: center
    .form
        width: 600px
        padding: 50px
        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            font-size: .7rem
            color: red

@media (max-width: 500px)
    .wrapper
        .form
            width: 100%
            padding: 20px
