<!-- Content -->
<div class="wrapper2">
  <div class="text-white text-center d-flex align-items-center shadow">

    <h3 class="card-title"><strong>Masz pytanie? Skontaktuj się z nami!</strong></h3>

  </div>
</div>


<!-- Section: Contact v.3 -->
<section class="contact-section wrapper">

  <!-- Form with header -->
  <div class="card">

    <!-- Grid row -->
    <div class="row main">

      <!-- Grid column -->
      <div class="col-lg-8">

        <form class="card-body form md-form" ngForm #form="ngForm">

          <!-- Header -->
          <h3 class="mt-4">
            <mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>
            Napisz do nas:
          </h3>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form input-group mb-3">
                <input mdbInput required id="name" name="name" ngModel #name="ngModel" type="text" class="form-control">
                <label class="">Imię</label>
                <div class="error" *ngIf="name.touched && !name.valid">
                  <span *ngIf="name.errors.required">Podaj swoje imię</span>
                </div>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form input-group mb-3">
                <input mdbInput required id="email" name="email" ngModel #email="ngModel" email type="email"
                  class="form-control">
                <label class="">E-mail</label>
                <div class="error" *ngIf="email.touched && !email.valid">
                  <span *ngIf="email.errors.required">Podaj adres e-mail</span>
                  <span *ngIf="email.errors.email">Podany adres jest nieprawidłowy</span>
                </div>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form input-group mb-0">
                <textarea required type="text" id="message" name="message" ngModel #message="ngModel"
                  class="form-control md-textarea" rows="6" mdbInput></textarea>
                <label for="form-contact-message">Wiadomość</label>
                <div class="error" *ngIf="message.touched && !message.valid">
                  <span *ngIf="message.errors.required">Podaj treść wiadomości</span>
                </div>
              </div>
              <button [disabled]="!form.valid" type="submit" mdbBtn color="primary" mdbWavesEffect>Wyślij</button>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </form>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 right">

        <div class="card-body contact text-center h-100 white-text">

          <h3 class="my-4 pb-2">Informacje kontaktowe</h3>
          <ul class="text-lg-left list-unstyled ml-4">
            <li>
              <p>
                <mdb-icon fas icon="map-marked" class="pr-2"></mdb-icon>
                Lublin, ul. dowolna 99
              </p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="phone" class="pr-2"></mdb-icon>
                + 01 234 567 89
              </p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>
                contact@example.com
              </p>
            </li>
          </ul>
          <hr class="hr-light my-4">
          <ul class="list-inline text-center list-unstyled">
            <li class="list-inline-item">
              <a class="p-2 fa-lg tw-ic">
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="p-2 fa-lg li-ic">
                <mdb-icon fab icon="linkedin-in"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="p-2 fa-lg ins-ic">
                <mdb-icon fab icon="instagram"></mdb-icon>
              </a>
            </li>
          </ul>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Form with header -->

</section>
<!-- Section: Contact v.3 -->
<app-footer></app-footer>