.wrapper2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  overflow: hidden;
}

.wrapper2 .shadow {
  padding: 50px 150px;
  height: 100%;
  background-color: rgba(38, 79, 197, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  background-color: #eaeeff;
  height: auto;
}

.wrapper .main {
  width: 100%;
}

.wrapper .right {
  background-color: #103f6d;
  width: 100%;
}

.wrapper .row {
  margin-left: 0;
}

.wrapper .card-body {
  padding-top: 100px;
}

.wrapper .mt-4 {
  padding-left: 15px;
}

@media (max-width: 1024px) {
  .wrapper .main {
    padding: 0;
  }
  .wrapper2 .shadow {
    padding: 0;
  }
}
/*# sourceMappingURL=contact.component.css.map */