.wrapper2
  justify-content: center
  margin-top: 56px
  height: 500px
  background-image: url('https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')
  background-size: cover
  background-repeat: no-repeat
  background-position: center 0
  background-attachment: fixed
  overflow: hidden

  .shadow
    padding: 50px 150px
    height: 100%
    background-color: rgba(38, 79, 197, 0.5)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.wrapper
  background-color: #eaeeff
  height: auto
  .main
    width: 100%
  .right
    background-color: #103f6d
    width: 100%
  .row
    margin-left: 0
  .card-body
    padding-top: 100px
  .mt-4
    padding-left: 15px

  .form
    .md-form.input-group .form-control
      padding: .375rem 0

    .form-control.ng-touched.ng-invalid
      border-bottom: 2px solid red

    .form-control.ng-touched.ng-valid
      border-bottom: 2px solid #00dc00
    .input-group
      display: flex
      flex-direction: column
    .error
      font-size: .7rem
      color: red
    button
      margin-left: 0


@media (max-width: 1024px)
  .wrapper
    .main
      padding: 0

  .wrapper2
    .shadow
      padding: 0
