<div class="wrapper">
    
    <h2 class="h3 py-5 text-center">Twoje badania</h2>
        <h4>Pakiet {{physioPackage?.PackageName}}</h4>
     
            <table mdbTable class="inside">
                <thead class="grey lighten-1 black-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa badania</th>
                        <th scope="col">Koszt</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let medicalEx of physioExs; index as j">
                        <th scope="row">{{j+1}}</th>
                        <td>{{medicalEx.Name}}</td>
                        <td>{{medicalEx.Price}}zł</td>
                    </tr>
                </tbody>
            </table>
        <hr class="small-hr my-4">
</div>