.bar
  display: flex
  justify-content: space-evenly
  margin-bottom: 10px

  .bar__item
    width: 230px
    margin: 0 5px

@media (max-width: 630px)
  .bar
    flex-direction: column
    align-items: center
    margin-bottom: 0

    .bar__item
      width: 100%
      margin-bottom: 10px

