<div *ngIf="account !== 'użytkownik'" class="wrapper">
  <div class="btn-group bar" role="group" aria-label="Basic example">
    <button (click)="this.showProduct.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Produkty</button>
    <button (click)="this.showSold.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Sprzedane produkty</button>
    <button (click)="this.showPackages.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Pakiety</button>
    <button (click)="this.showStorage.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Miejsce na dysku</button>
  </div>
  <div class="btn-group bar" role="group" aria-label="Basic example">
    <button (click)="this.showArticle.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Artykuły</button>
    <button (click)="this.showServices.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>Usługi</button>
    <button *ngIf="account === 'trener' || account === 'Fizjoterapeuta' || account === 'Lekarz sportowy'" routerLink="/user/dashboard" mdbBtn type="button" color="primary"
      class="waves-light bar__item" mdbWavesEffect>Dashboard</button>
  </div>
</div>
<div *ngIf="account === 'użytkownik'" class="wrapper">
  <div class="btn-group bar" role="group" aria-label="Basic example">
    <button *ngIf="coachPackage === 'Trening' || coachPackage === 'Oba'" (click)="this.showWorkouts.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item" mdbWavesEffect>
      <mdb-icon fas icon="dumbbell"></mdb-icon> Treningi
    </button>
    <button *ngIf="coachPackage === 'Dieta' || coachPackage === 'Oba'" (click)="this.showDiets.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item" mdbWavesEffect>
      <mdb-icon fas icon="utensils"></mdb-icon> Diety
    </button>
    <button *ngIf="physiotherapistPackage !== null" (click)="this.showMedicine.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item" mdbWavesEffect>
      <mdb-icon fas icon="clinic-medical"></mdb-icon> Badania fizjoterapeutyczne
    </button>
    <button *ngIf="doctorPackage !== null" (click)="this.showMedicine.emit()" mdbBtn type="button" color="primary" class="waves-light bar__item" mdbWavesEffect>
      <mdb-icon fas icon="clinic-medical"></mdb-icon> Badania sportowe
    </button>
  </div>
</div>