.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bar .bar__item {
  width: 230px;
  margin: 0 5px;
}
/*# sourceMappingURL=bar.component.css.map */