<header>
  <div class="container">
    <input type="checkbox" name="" id="check">

    <div class="logo-container">
      <h3 class="logo">Cekovicweb<span> sp. z.o.o.</span></h3>
    </div>

    <div class="nav-btn">
      <div class="nav-links">
        <ul>
          <li class="nav-link" style="--i: .6s">
            <a (click)="closeSidebar()" routerLink="/">Strona głowna</a>
          </li>
          <li class="nav-link" style="--i: .6s">
            <a (click)="closeSidebar()" routerLink="/shop/products">Sklep</a>
          </li>
          <li class="nav-link" style="--i: .6s">
            <a (click)="closeSidebar()" routerLink="/blog">Blog</a>
          </li>
          <li class="nav-link" style="--i: .6s">
            <a (click)="closeSidebar()" routerLink="/users">Użytkownicy</a>
          </li>
          <li class="nav-link" style="--i: .6s">
            <a (click)="closeSidebar()" routerLink="/contact">Kontakt</a>
          </li>
          <li class="nav-link" style="--i: .85s">
            <a>Katalog<i class="fas fa-caret-down"></i></a>
            <div class="dropdown">
              <ul *ngFor="let category of categorys">
                <li class="dropdown-link">
                  <a (click)="closeSidebar()" [routerLink]="['/shop/category/', category.NameCategory]">{{category.NameCategory}}</a>
                </li>
                <!-- <li class="dropdown-link">
                  <a [routerLink]="['/shop/category', 'komputery']">Komputery<i class="fas fa-caret-down"></i></a>
                  <div class="dropdown second">
                    <ul>
                      <li class="dropdown-link">
                        <a (click)="closeSidebar()" [routerLink]="['/shop/category', 'stacjonarne']">Stacjonarne</a>
                      </li>
                      <li class="dropdown-link">
                        <a (click)="closeSidebar()" [routerLink]="['/shop/category', 'laptopy']">Laptopy</a>
                      </li>
                      <div class="arrow"></div>
                    </ul>
                  </div>
                </li> -->
                <!-- <div class="arrow"></div> -->
                <!-- <li class="dropdown-link">
                  <a [routerLink]="['/shop/category', 'buty']">Buty<i class="fas fa-caret-down"></i></a>
                  <div class="dropdown second">
                    <ul>
                      <li class="dropdown-link">
                        <a (click)="closeSidebar()" [routerLink]="['/shop/category', 'damskie']">Damskie</a>
                      </li>
                      <li class="dropdown-link">
                        <a (click)="closeSidebar()" [routerLink]="['/shop/category', 'męskie']">Męskie</a>
                      </li>
                      <div class="arrow"></div>
                    </ul>
                  </div>
                </li> -->
                <!-- <div class="arrow"></div> -->

                
              </ul>
              
            </div>
          </li>



        </ul>
      </div>

      <div class="log-sign" style="--i: 1s">
          <a (click)="closeSidebar()" routerLink="/shop/cart" class="cart">
            <span class="badge badge-pill red count">{{getLength()}}</span>
            <i class="fas fa-shopping-cart pl-0"></i>
          </a>
          <div *ngIf="!logged()">
        <a (click)="closeSidebar()" routerLink="/login" class="btn transparent">Logowanie</a>
        <a (click)="closeSidebar()" routerLink="/registration" class="btn solid">Rejestracja</a>
      </div>
      <div class="user_logged" *ngIf="logged()">
        <mdb-icon (click)="closeSidebar()" class="user" routerLink="/user" fas icon="user"></mdb-icon>
        <button (click)="logOut()" class="btn solid logout">Wyloguj</button>
      </div>
      
      </div>
    </div>

    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
  </div>
</header>