nav
  background-color: #eaeeff
  min-height: 70px
  height: auto
  width: 100vw
  position: fixed
  top: 0
  display: flex
  align-items: center
  justify-content: space-between
  z-index: 9

  .user_logged
    display: flex
    align-items: center

    .user
      margin: 0 10px
      color: white
    
    .logout
      margin-left: 10px

  .logo
    font-weight: 400
  .rejestr
    border: 2px solid #47e0d9
    border-radius: 5px
  &::after
    // content: ''
    // clear: both
    // display: table

  ul
    // float: left
    list-style: none
    margin-right: 40px
    margin-bottom: 0
    position: relative

    li
      float: left
      display: inline-block
      background: transparent
      margin: 0 5px

      &:hover > ul
        opacity: 1
        visibility: visible

      a
        color: black
        text-decoration: none
        line-height: 30px
        font-size: 18px
        padding: 8px 15px

        &:hover
          // box-shadow: 0 0 2px gray

    ul
      position: absolute
      top: 30px
      opacity: 0
      visibility: hidden
      padding: 0
      border: 1px solid lightgray
      border-radius: 5px
      background-color: white

      li
        position: relative
        margin: 0
        width: auto
        float: none
        display: list-item

        border-bottom: 1ps solid rgba(0, 0, 0, 0.3)
        padding: 10px

      ul
        position: absolute
        left: 100%
        top: 0
        li
          position: relative
          // left: 100%
          // top: -50px
.show, .icon, .cart, input
  display: none
  

.cart
  position: fixed
  top: 15px
  right: 60px
  z-index: 99

@media (max-width: 1080px)
  nav
    display: inline

  nav ul
    margin-right: 0
    margin-top: 20px
    float: left

  nav li,
  nav ul li
    display: block
    width: 100%
  
  nav ul.right li
    width: auto
    margin-bottom: 20px
    
  nav ul ul
    top: 170px
    position: static
    float: none
    display: none
    opacity: 1
    visibility: visible
    background-color: transparent
    border: none

  .show
    display: block
    color: black
    padding: 0 15px
    line-height: 30px
    cursor: pointer
    font-size: 18px

  .icon
    display: block
    position: absolute
    right: 40px
    top: 0
    line-height: 70px
    font-size: 25px
    cursor: pointer
    z-index: 10
    
  .cart
    display: block

  nav ul ul ul
    position: static
  .show + a, ul.left, ul.right
    display: none
  
  [id^=btn]:checked + ul, [id^=btn]:checked + ul + ul.right
    display: block

