.wrapper
    margin-top: 100px
    padding: 0 50px
    .bar
        display: flex
        justify-content: space-evenly
        margin-bottom: 10px

        .bar__item
            width: 230px
            margin: 0 5px

@media (max-width: 1200px)
    .wrapper
        padding: 0 30px
        .bar
            flex-direction: column
            
            .bar__item
                margin: 5px
                width: 100%