<div class="wrapper">
  <div class="btn-group bar" role="group" aria-label="Basic example">
    <button (click)="showComponent(0)" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>
      <mdb-icon fas icon="user-check"></mdb-icon> Podopieczni
    </button>
    <button (click)="showComponent(3)" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>
      <mdb-icon far icon="calendar-alt"></mdb-icon> Terminarz
    </button>
    <button (click)="showComponent(4)" mdbBtn type="button" color="primary" class="waves-light bar__item"
      mdbWavesEffect>
      <mdb-icon fas icon="cube"></mdb-icon> Pakiety<span *ngIf="user?.AccountType === 'trener'"> treningowe
      </span>
      <span *ngIf="user?.AccountType === 'Fizjoterapeuta' || user?.AccountType === 'Lekarz sportowy'"> lekarskie
      </span>
    </button>
  </div>

  <app-your-users *ngIf="yourUsers"></app-your-users>
  <app-calendar [userID]="user?.Id" [account]="user?.AccountType" *ngIf="calendar"></app-calendar>
  <app-coach-package [user]="user" *ngIf="packages"></app-coach-package>

</div>