<div class="wrapper">
    <div class="btn-group dropdown" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
            mdbWavesEffect>
            Typ konta
        </button>

        <div class="dropdown-menu dropdown-primary">
            <a (click)="filterUser(users, 'Wszystkie')" class="dropdown-item accountType">Wszystkie</a>
            <a *ngFor="let account of accounts" (click)="filterUser(users, account)"
                class="dropdown-item accountType">{{account}}</a>
        </div>
    </div>
    <app-calendar [userID]="userID" [account]="account" *ngIf="calendar"></app-calendar>
    <div class="row">
        <div class="col-md-4 users" *ngFor="let user of filterUsers">
            <!--Card-->

            <mdb-card cascade="true" wider="true">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light profile" mdbWavesEffect>
                    <mdb-card-img *ngIf="user.ImageId == null"
                        src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257_960_720.png">
                    </mdb-card-img>
                    <mdb-card-img *ngIf="user.ImageId != null" src={{user.Image.Path}}>
                    </mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <!--Title-->
                    <h4 class="card-title">
                        <strong>{{user.Name}} {{user.LastName}}</strong>
                    </h4>
                    <h5 class="indigo-text accountType">
                        <strong>{{user.AccountType}}</strong>
                    </h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
                        totam rem
                        aperiam.

                    </mdb-card-text>
                    {{avgUserRate(user.RateUsers)}}
                    <!-- <p-rating [(ngModel)]="rateUser" readonly="true" [cancel]="false"></p-rating> -->
                    <p-rating [disabled]="!logged()  || !canRateUser(user)" (onRate)="addUserRate($event.value, user)"
                        [(ngModel)]="rateUser" [cancel]="false"></p-rating>
                    <p>
                        <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{user.City}} {{user.Country}}
                    </p>
                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <mdb-icon fab icon="twitter"> </mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <mdb-icon fab icon="facebook-f"> </mdb-icon>
                    </a>

                </mdb-card-body>
                <div class="chooseBtn">
                    <button (click)="showCalendar(user.Id)" mdbBtn type="button" color="primary" mdbWavesEffect>Sprawdź terminy</button>
                </div>
                <!--/.Card content-->
                <div *ngIf="user.AccountType === 'trener'" class="chooseBtn">
                    <!-- <button
                        [disabled]="!logged() || loggedUser?.AccountType === 'trener' || loggedUser?.CoachId !== null"
                        (click)="chooseCoach(user.Id, tokenIdInt)" mdbBtn type="button" class="button" color="cyan"
                        mdbWavesEffect>Wybierz trenera</button> -->
                    <div class="btn-group dropdown" mdbDropdown>
                        <button mdbDropdownToggle type="button"
                            mdbTooltip="{{!logged() ? 'Zaloguj się, aby wybrać!' : ''}}" placement="right" mdbBtn
                            color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
                            Wybierz trenera
                        </button>

                        <div class="dropdown-menu dropdown-primary">
                            <!-- <a *ngFor="let account of accounts" (click)="filterUser(account)"
                                    class="dropdown-item accountType">{{account}}</a> -->
                            <button *ngFor="let package of packages"
                                [disabled]="loggedUser?.CoachId !== null || !logged() || loggedUser?.AccountType === 'trener'"
                                (click)="chooseCoach(user.Id, tokenIdInt, package.Id, user.AccountType)"
                                class="dropdown-item accountType"><span *ngIf="package.CoachId === user.Id"
                                    class="package">{{package.PackageName}}
                                    <span>{{package.Price}}zł/mc</span></span></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="user.AccountType === 'Fizjoterapeuta'" class="chooseBtn">
                    <!-- <button [disabled]="!logged() || loggedUser?.AccountType === 'Fizjoterapeuta'" mdbBtn type="button"
                        class="button" color="cyan" mdbWavesEffect>Wybierz fizjoterapeutę</button> -->
                    <div class="btn-group dropdown" mdbDropdown>
                        <button mdbDropdownToggle type="button" mdbBtn color="cyan" class="dropdown-toggle waves-light"
                            mdbWavesEffect>
                            Wybierz fizjoterapeutę
                        </button>

                        <div class="dropdown-menu dropdown-primary">
                            <!-- <button *ngFor="let package of packages" [disabled]="!logged()" (click)="chooseCoach(user.Id, tokenIdInt, package.Id)" class="dropdown-item accountType"><span *ngIf="package.CoachId === user.Id" class="package">{{package.PackageName}} <span>{{package.Price}}zł/mc</span></span></button> -->
                            <button *ngFor="let physioPackage of physioPackages"
                                [disabled]="loggedUser?.PhysiotherapistId !== null || !logged() || loggedUser?.AccountType === 'Fizjoterapeuta'"
                                (click)="chooseCoach(user.Id, tokenIdInt, physioPackage.Id, user.AccountType)"
                                class="dropdown-item accountType"><span
                                    *ngIf="physioPackage.PhysiotherapistId === user.Id"
                                    class="package">{{physioPackage.PackageName}}
                                    <span>{{physioPackage.Price}}zł/mc</span></span></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="user.AccountType === 'Lekarz sportowy'" class="chooseBtn">
                    <!-- <button [disabled]="!logged() || loggedUser?.AccountType === 'Fizjoterapeuta'" mdbBtn type="button"
                        class="button" color="cyan" mdbWavesEffect>Wybierz fizjoterapeutę</button> -->
                    <div class="btn-group dropdown" mdbDropdown>
                        <button mdbDropdownToggle type="button" mdbBtn color="cyan" class="dropdown-toggle waves-light"
                            mdbWavesEffect>
                            Wybierz lekarza sportowego
                        </button>

                        <div class="dropdown-menu dropdown-primary">
                            <!-- <button *ngFor="let package of packages" [disabled]="!logged()" (click)="chooseCoach(user.Id, tokenIdInt, package.Id)" class="dropdown-item accountType"><span *ngIf="package.CoachId === user.Id" class="package">{{package.PackageName}} <span>{{package.Price}}zł/mc</span></span></button> -->
                            <button *ngFor="let doctorPackage of doctorPackages"
                                [disabled]="loggedUser?.DoctorId !== null || !logged() || loggedUser?.AccountType === 'Lekarz sportowy'"
                                (click)="chooseCoach(user.Id, tokenIdInt, doctorPackage.Id, user.AccountType)"
                                class="dropdown-item accountType"><span
                                    *ngIf="doctorPackage.DoctorId === user.Id"
                                    class="package">{{doctorPackage.PackageName}}
                                    <span>{{doctorPackage.Price}}zł/mc</span></span></button>
                        </div>
                    </div>
                </div>
            </mdb-card>
            <!--/.Card-->
        </div>
    </div>
</div>