.wrapper
    margin-top: 100px
    padding: 0 100px

    .users
        margin-bottom: 10px
        .profile
            max-height: 230px
        .package
            display: flex
            align-items: center
            justify-content: space-between
            span
                margin-left: 10px

    .dropdown
        margin-bottom: 30px

    .accountType
        &::first-letter
            text-transform: capitalize
    .chooseBtn
        display: flex
        align-items: center
        justify-content: center

@media (max-width: 1200px)
  .wrapper
    padding: 0 10px