.wrapper {
  margin-top: 70px;
  padding: 0 150px;
}

.wrapper img {
  max-width: 200px;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .wrapper img {
    max-width: 100px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 0;
  }
  .wrapper .card-body {
    padding: 5px;
  }
}
/*# sourceMappingURL=cart.component.css.map */