<div class="card wrapper">
    <div class="card-body">

        <!-- Shopping Cart table -->
        <div class="table-responsive">
            <table class="table product-table">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th></th>
                        <th class="font-weight-bold">
                            <strong>Produkt</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Cena</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Ilość</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Kwota</strong>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <!-- /.Table head -->

                <!-- Table body -->
                <tbody>

                    <!-- First row -->
                    <tr *ngFor="let product of allCart">
                        <th scope="row">
                            <img src={{product.Image.Path}} alt=""
                                class="img-fluid z-depth-0">
                        </th>
                        <td>
                            <h5 class="mt-4">
                                <strong>{{product.Name}}</strong>
                            </h5>
                            <p class="text-muted">{{product.Description}}</p>
                        </td>
                        <td><p id="item-price" class="mt-4">{{priceToFloat(product.Price)}}zł</p></td>
                        <td>
                            <!-- <input type="number" (keyup) ="getCounter($event.target.value)" value={{counter}} min="0" aria-label="Search" class="form-control mt-3"
                                style="width: 100px"> -->
                                <input type="number" value={{product.Cart}}  aria-label="Search" class="form-control mt-3"
                                style="width: 100px"
                                (change)="updateCount(product, $event.target.value)"
                                >
                            </td>
                        <td class="font-weight-bold">
                            <p class="mt-4"><strong>{{updateCartPriceItem(priceToFloat(product.Price), product.Cart)}}zł</strong></p>
                        </td>
                        <td>
                        <!-- <button (click)="productsCart.splice(productsCart.indexOf(product), 1)" type="button" class="btn btn-sm btn-primary mt-4" data-toggle="tooltip"
                                data-placement="top" title="Remove item">X
                            </button> -->
                        <button (click)="removeFromCart(product)" type="button" class="btn btn-sm btn-primary mt-4" data-toggle="tooltip"
                                data-placement="top" title="Remove item">X
                            </button>
                        </td>
                    </tr>
                    <!-- /.First row -->

                    <!-- Fourth row -->
                    <tr>
                        <td colspan="3"></td>
                        <td>
                            <h4 class="mt-2">
                                <strong>Suma {{this.ammount}}zł</strong>
                            </h4>
                        </td>
                        <td>
                            <h4 class="mt-2">
                                <strong></strong>
                            </h4>
                        </td>
                        <td colspan="3">
                            <button routerLink="/shop/delivery" type="button" class="btn btn-primary btn-rounded">Dokończ zakup
                                <i class="fas fa-angle-right right"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- Fourth row -->

                </tbody>
                <!-- /.Table body -->

            </table>

        </div>
        <!-- /.Shopping Cart table -->

    </div>

</div>