.wrapper
    padding: 0 10px
    .form
        padding: 30px
        margin-top: 50px
        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            display: flex
            font-size: .7rem
            color: red
        select
            font-family: Roboto, "Helvetica Neue", sans-serif
            width: 100%
            height: 40px
            border: none
            border-bottom: 1px solid #ced4da
            background: transparent
            outline: none
            color: #757575
            font-size: 1rem
            font-weight: 100
            padding-left: 0

            &:invalid
                color: gray

            option
                font-size: 1.2rem
                color: #757575
                background-color: white
                padding: 10px
    .bar
        margin-top: 50px

    .inside
        width: 95%
        margin: auto