<div class="wrapper">

    <div class="text-center">
        <div class="btn-group bar" role="group" aria-label="Basic example">
            <button (click)="showAddForm(1)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                mdbWavesEffect>Dodaj plan diety</button>
            <button (click)="showAddForm(2)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                mdbWavesEffect>Dodaj dietę do planu</button>
            <button (click)="showAddForm(3)" mdbBtn type="button" color="primary" class="waves-light bar__item"
                mdbWavesEffect>Dodaj produkt do diety</button>
        </div>

        <form *ngIf="addDietPlanForm" [formGroup]="form">
            <mdb-card class="form">
                <div class="md-form input-group mb-3">
                    <select required class="form-control" id="time" name="time" [formControl]="time">
                        <option disabled value="">Czas</option>
                        <option value="Dzień">Na dzień</option>
                        <option value="Tydzień">Na tydzień</option>
                        <option value="Miesiąc">Na miesiąc</option>
                    </select>
                    <span class="error" *ngIf="time.touched && !time.valid">Wybierz czas</span>
                </div>
                <div class="md-form mb-3">
                    <!-- <div *ngIf="!this.edit" class="md-form mb-3"> -->
                    <button [disabled]="!form.valid" (click)="addPlan()" type="submit" mdbBtn color="primary"
                        mdbWavesEffect>Dodaj</button>
                </div>
                <div class="md-form mb-3">
                    <!-- <div *ngIf="this.edit" class="md-form mb-3"> -->
                    <!-- <button  type="submit" mdbBtn color="primary" mdbWavesEffect>Edytuj</button> -->
                </div>

            </mdb-card>
        </form>

        <form *ngIf="addDietForm" [formGroup]="form2">
            <mdb-card class="form">
                <div class="md-form input-group mb-3">
                    <select required class="form-control" id="dietplan" name="dietplan" [formControl]="dietplan">
                        <option [ngValue]="null" selected disabled value="">Plan diety</option>
                        <option *ngFor="let plan of dietPlans" [value]="plan.Id">{{plan.Time}}</option>
                    </select>
                    <span class="error" *ngIf="dietplan.touched && !dietplan.valid">Wybierz plan diety, który utworzyłeś
                        wcześniej</span>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="dietname" name="dietname" type="text" [formControl]="dietname"
                        class="form-control">
                    <label class="">Nazwa diety</label>
                    <div class="error" *ngIf="dietname.touched && !dietname.valid">
                        <span *ngIf="dietname.errors.required">Podaj nazwe diety</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="calorific" name="calorific" type="number" [formControl]="calorific"
                        class="form-control" min="0">
                    <label class="">Kaloryczność np. 1500 kcal</label>
                    <div class="error" *ngIf="calorific.touched && !calorific.valid">
                        <span *ngIf="calorific.errors.required">Podaj kaloryczność diety</span>
                    </div>
                </div>

                <div class="md-form mb-3">
                    <div *ngIf="!this.editDiet" class="md-form mb-3">
                        <button [disabled]="!form2.valid" (click)="addDiet()" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Dodaj</button>
                        <button (click)="showAddForm(0)" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Zamknij</button>
                    </div>
                </div>
                <div class="md-form mb-3">
                    <div *ngIf="this.editDiet" class="md-form mb-3">
                        <button [disabled]="!form2.valid" (click)="updateDiet()" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Edytuj</button>
                        <button (click)="showAddForm(0)" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Zamknij</button>
                    </div>
                </div>

            </mdb-card>
        </form>
        <form *ngIf="addProductForm" [formGroup]="form3">
            <mdb-card class="form">
                <div class="md-form input-group mb-3">
                    <select required class="form-control" id="diet" name="diet" [formControl]="diet">
                        <option [ngValue]="null" selected disabled value="">Dieta</option>
                        <option *ngFor="let diet of diets" [value]="diet.Id">{{diet.DietName}}</option>
                    </select>
                    <span class="error" *ngIf="diet.touched && !diet.valid">Wybierz dietę, którą utworzyłeś
                        wcześniej</span>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="productname" name="productname" type="text" [formControl]="productname"
                        class="form-control">
                    <label class="">Nazwa produktu</label>
                    <div class="error" *ngIf="productname.touched && !productname.valid">
                        <span *ngIf="productname.errors.required">Podaj nazwe produktu</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="weight" name="weight" type="number" [formControl]="weight"
                        class="form-control" step="1" min="0">
                    <label class="">Waga produktu np. 200 g</label>
                    <div class="error" *ngIf="weight.touched && !weight.valid">
                        <span *ngIf="weight.errors.required">Podaj wagę produktu w gramach</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <input mdbInput required id="priceforweight" name="priceforweight" type="text"
                        [formControl]="priceforweight" class="form-control" pattern="^\d+\.\d\d$">
                    <label class="">Cena za 100g produktu</label>
                    <div class="error" *ngIf="priceforweight.touched && !priceforweight.valid">
                        <span *ngIf="priceforweight.errors.required">Podaj cenę za 100g produktu</span>
                        <span *ngIf="priceforweight.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki
                            "." do oddzielenia wartości dziesiętnej</span>
                    </div>
                </div>
                <!-- <div class="md-form input-group mb-3">
                    <input mdbInput required id="price" name="price" type="text" [formControl]="price"
                        class="form-control" pattern="^\d+\.\d\d$">
                    <label class="">Cena produktu</label>
                    <div class="error" *ngIf="price.touched && !price.valid">
                        <span *ngIf="price.errors.required">Podaj cenę produktu</span>
                        <span *ngIf="price.errors.pattern">Podaj część dziesiętną liczby oraz użyj znaku kropki "." do oddzielenia wartości dziesiętnej</span>
                    </div>
                </div> -->
                <div class="md-form mb-3">
                    <div *ngIf="!this.editProduct" class="md-form mb-3">
                        <button [disabled]="!form3.valid" (click)="addProduct()" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Dodaj</button>
                        <button (click)="showAddForm(0)" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Zamknij</button>
                    </div>
                </div>
                <div class="md-form mb-3">
                    <div *ngIf="this.editProduct" class="md-form mb-3">
                        <button [disabled]="!form3.valid" (click)="updateProduct()" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Edytuj</button>
                        <button (click)="showAddForm(0)" type="submit" mdbBtn color="primary"
                            mdbWavesEffect>Zamknij</button>
                    </div>

                </div>

            </mdb-card>
        </form>
    </div>
    <h2 class="h3 py-5 text-center">Twoje diety</h2>
    <div class="tablePlan" *ngFor="let plan of dietPlans; index as x">
        <!-- <table mdbTable class="main">
            <thead class="black white-text">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Czas</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol>
                    <th scope="row">{{x+1}}</th>
                    <td>{{plan.Time}}</td>
                </tr>
            </tbody>
        </table> -->
        <h4>Dieta na {{plan.Time}}</h4>
        <div class="table" *ngFor="let diet of plan.Diets; index as i">
            <table mdbTable class="outside">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Kaloryczność</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol>
                        <th scope="row">{{i+1}}</th>
                        <td>{{diet.DietName}}</td>
                        <td>{{diet.Calorific}} kcal</td>
                        <td><button (click)="showEditDietForm(diet)" mdbBtn color="warning" size="sm"
                                mdbWavesEffect>Edytuj</button></td>
                    </tr>
                </tbody>
            </table>

            <table mdbTable class="inside">
                <thead class="grey lighten-1 black-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Waga</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Cena/100g</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let product of diet.DietProducts; index as j">
                        <th scope="row">{{j+1}}</th>
                        <td>{{product.ProductName}}</td>
                        <td>{{product.Weight}}g</td>
                        <td>{{product.Price}}zł</td>
                        <td>{{product.PriceForWeight}}zł</td>
                        <td><button (click)="showEditProductForm(product)" mdbBtn color="warning" size="sm"
                                mdbWavesEffect>Edytuj</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="small-hr my-4">
    </div>

</div>