<!--Section: Blog v.4-->
<section class="my-5 wrapper">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12" *ngIf="article">
      <!--Featured image-->
      <mdb-card class="card" cascade="true" wider="true" reverse="true">
        <div class="view view-cascade overlay waves-light image" mdbWavesEffect>
          <!-- <mdb-card-img class="image" src={{article.ImageURL}} alt="Wide sample post image"></mdb-card-img> -->
          <img src={{article.Image.Path}} alt="Article image">
          <div *ngIf="logged() && article.UserId == this.tokenId" (click)="showEditImageForm()">
            <mdb-icon class="icon-gray" fas icon="edit"></mdb-icon>
            <div class="mask rgba-white-slight edit">
              <mdb-icon class="icon" fas icon="edit"></mdb-icon>
            </div>

          </div>
        </div>

        <!--Post data-->
        <mdb-card-body cascade="true" class="text-center">
          <h2>
            <span class="font-weight-bold">{{article.Title}}</span>
          </h2>
          <p>{{article.Date}} <span *ngIf="article.ShowTime">{{article.Time}}</span></p>
          <p>{{article.ShortDesc}}</p>
          <button *ngIf="logged() && article.UserId == this.tokenIdInt" mdbBtn (click)="showEditArticleForm()"
            color="warning" mdbWavesEffect>Edytuj artykuł</button>
        </mdb-card-body>
        <!--Post data-->
      </mdb-card>

      <!--Excerpt-->
      <div class="excerpt mt-5 content">
        <p>{{article.LongDesc}}</p>
        <div class="rate">
          <div class="post">
            Oceń post:
            <p-rating [disabled]="!logged() || !canRate(article)" [(ngModel)]="rate"
              (onRate)="addRate($event.value, article)" [cancel]="false"></p-rating>
          </div>
          <div class="user">
            Oceń użytkownika:
            <p-rating [disabled]="!logged()  || !canRateUser(article)" (onRate)="addUserRate($event.value, article)" [(ngModel)]="rateUser" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row-->

  <hr class="mb-5 mt-4">
  <form *ngIf="editImageForm" class="wrapper2" ngForm #formImg="ngForm">
    <mdb-card class="form">
      <div class="md-form input-group mb-3">
        <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="file"
          (change)="onFileChange($event)" class="form-control file">

        <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
          <span *ngIf="imageUrl.errors.required">Wybierz zdjęcie produktu</span>
        </div>
        <span class="error" *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany plik posiada
          nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span>
      </div>
      <button (click)="updateImage(article)" [disabled]="!formImg.valid || !fileTypeCheck" type="submit" mdbBtn
        color="primary" mdbWavesEffect>Zapisz</button>
    </mdb-card>
  </form>

  <form class="wrapper-form" *ngIf="editArticleForm" ngForm #form="ngForm">
    <mdb-card class="form">
      <div class="md-form input-group mb-3">
        <input mdbInput required id="title" name="title" [(ngModel)]="article.Title" #title="ngModel" type="text"
          class="form-control">
        <label class="">Tytuł</label>
        <div class="error" *ngIf="title.touched && !title.valid">
          <span *ngIf="title.errors.required">Podaj tytuł artykułu</span>
        </div>
      </div>
      <div class="md-form input-group mb-0">
        <textarea required type="text" id="shortDesc" name="shortDesc" [(ngModel)]="article.ShortDesc"
          #shortDesc="ngModel" class="form-control md-textarea" rows="4" mdbInput></textarea>
        <label for="form-contact-shortDesc">Krótki opis</label>
        <div class="error" *ngIf="shortDesc.touched && !shortDesc.valid">
          <span *ngIf="shortDesc.errors.required">Podaj krótki opis artykułu</span>
        </div>
      </div>
      <div class="md-form input-group mb-0">
        <textarea required type="text" id="longDesc" name="longDesc" [(ngModel)]="article.LongDesc" #longDesc="ngModel"
          class="form-control md-textarea" rows="6" mdbInput></textarea>
        <label for="form-contact-longDesc">Długi opis</label>
        <div class="error" *ngIf="longDesc.touched && !longDesc.valid">
          <span *ngIf="longDesc.errors.required">Podaj długi opis artykułu</span>
        </div>
      </div>
      <div class="md-form input-group mb-3">
        <!-- <input required mdbInput id="imageUrl" name="imageURL" [(ngModel)]="article.ImageURL" #imageURL="ngModel" type="text"
                class="form-control file" placeholder="Adres URL zdjęcia">
              <div class="error" *ngIf="imageURL.touched && !imageURL.valid">
                <span *ngIf="imageURL.errors.required">Wklej adres URL zdjęcia artykułu</span>
              </div> -->

        <!-- <input required mdbInput id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" type="file"
                (change)="onFileChange($event)" class="form-control file">
              <div class="error" *ngIf="imageUrl.touched && !imageUrl.valid">
                <span *ngIf="imageUrl.errors.required">Wybierz zdjęcie produktu</span>
              </div>
              <span class="error" *ngIf="imageUrl.touched && imageUrl.valid && !fileTypeCheck">Wybrany plik posiada
                nieprawidłowy typ, dozwolone: jpg, jpeg, png, gif</span> -->
      </div>
      <div class="md-form input-group mb-3 checkbox">
        <input type="checkbox" id="showTime" name="showTime" [(ngModel)]="article.ShowTime" #visible="ngModel">
        <p>Pokazuj godzinę dodania</p>
        <!-- <label for="visible">Widoczny</label> -->
      </div>
      <div class="md-form mb-3">
        <!-- <button [disabled]="!form.valid || !fileTypeCheck"
                (click)="add(productName.value, description.value, imageUrl.value, price.value, category.value, form)" type="submit" mdbBtn
                color="primary" mdbWavesEffect>Dodaj</button> -->
        <button [disabled]="!form.valid" (click)="updateArticle()" type="submit" mdbBtn color="primary"
          mdbWavesEffect>Dodaj</button>
      </div>

    </mdb-card>


  </form>
</section>
<!--Section: Blog v.4-->