.wrapper
    margin-top: 70px

    .wrapper2
        padding: 70px 150px

    .content
        padding: 0 150px

        .rate
            display: flex
            .post
                margin-right: 30px

    
    .view
        display: flex
        align-items: center
        justify-content: center
    
    img
        width: auto
        max-width: 100vw
        max-height: 70vh
    
    .wrapper-form
        padding: 70px 150px

    .form
        padding: 50px

        .md-form.input-group .form-control
            padding: .375rem 0

        .form-control.ng-touched.ng-invalid
            border-bottom: 2px solid red

        .form-control.ng-touched.ng-valid
            border-bottom: 2px solid #00dc00
        .input-group
            display: flex
            flex-direction: column
        .error
            display: flex
            font-size: .7rem
            color: red
        .checkbox
            flex-direction: row
            align-items: center
            color: #757575
            font-size: 1rem
            font-weight: 100
            p
                margin: 0 5px
        .file
            border: none
            border-bottom: 1px solid #ced4da

    .image
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        div
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            width: 100%
            height: 100%
            .icon-gray
                font-size: 6rem
                color: #808080ad
    .edit
        display: flex
        align-items: center
        justify-content: center
        color: white
        width: 100%
        height: 100%
        .icon
            font-size: 6rem