.wrapper
  justify-content: center
  margin-top: 56px
  height: 500px
  background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80')
  background-size: cover
  background-repeat: no-repeat
  background-position: center 0
  background-attachment: fixed
  overflow: hidden

  .shadow
    padding: 50px 150px
    height: 100%
    background-color: rgba(0, 0, 0, 0.50)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  @media (max-width: 600px)
    .shadow
      padding: 20px

