<!-- Content -->
<div class="wrapper">
  <div class="text-white text-center d-flex align-items-center shadow">
    <div>
      <h5 class="blue-text">
        <mdb-icon fab icon="opencart"></mdb-icon>
        E-commerce
      </h5>
      <h3 class="card-title pt-2"><strong>Idelane rozwiązanie dla każdego biznesu</strong></h3>
      <p>
        Prowadzisz własny biznes? Potrzebujesz profesjonalnego rozwiązania dla swojego sklepu? Wybierając nasz produkt stawiasz na pełen profesjonalizm i wsparcie!

      </p>
      <a pageScroll href="#about" mdbBtn color="blue" class="waves-light" mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        Dowiedz się więcej</a
      >
    </div>
  </div>
</div>
