<section *ngIf="button2" class="sold">

  <h2 class="h3 py-5 text-center">Sprzedane</h2>

<table mdbTable>
  <thead class="black white-text">
  <tr>
<!--    <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
    <th scope="col">ID</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilość</th>
  </tr>
  </thead>
  <tbody>
<!--  <tr mdbTableCol *ngFor="let el of elements">-->
<!--    <th scope="row">{{el.id}}</th>-->
<!--    <td>{{el.first}}</td>-->
<!--    <td>{{el.last}}</td>-->
<!--    <td>{{el.handle}}</td>-->
<!--  </tr>-->
  <tr>
    <th scope="row">1</th>
    <td>T-shirt</td>
    <td>30zł</td>
    <td>10szt</td>
  </tr>
  </tbody>
</table>
</section>
